node_modules
core
.changelog.draft
build
.DS_Store
public

/bin
/lib
pyvenv.cfg
docs/_build
cypress/downloads/
acceptance/results/
playwright/results/
playwright-report/
test-results/

packages/*
!packages/volto-light-theme
/.storybook-build
