.block.__grid {
  margin-top: 0;
  margin-bottom: 0;

  .teaser {
    margin-bottom: 0;
  }

  .headline {
    @include block-title();
  }
  .slate {
    margin: 0 !important;
    background-color: $lightgrey;
    p {
      padding: 1.5rem 1.5rem 2rem 1.5rem;
    }
    h2,
    h3 {
      padding: 3rem 1.5rem 0.5rem 1.5rem;
    }
  }
}

.grid-block-slate {
  .text-slate-editor-inner {
    height: 100%;
  }

  .slate-editor {
    height: 100%;
    margin: 0 !important;
    background-color: $lightgrey !important;
    p {
      padding: 1.5rem 1.5rem 2.4rem 1.5rem;
    }
    h2,
    h3 {
      padding: 1.5rem 1.5rem 1rem 1.5rem;
    }
  }
}

.grid-block-teaser {
  .block.teaser {
    background-color: $lightgrey;
    .grid-teaser-item {
      height: 100%;

      .grid-image-wrapper {
        margin-bottom: 40px !important;
      }
      .content {
        padding: 0 20px 20px 20px;
        @include body-text();

        .headline {
          padding: 0 !important;
          margin-bottom: 20px;
          letter-spacing: 1px;
          text-transform: uppercase;
          @include headtitle1();
        }

        h2 {
          padding: 0;
          margin-bottom: 20px;
        }

        p {
          margin-bottom: 20px;
        }
      }
    }
  }
}

// Dynamic font sizes depending on number of columns for in-grid blocks
.block.__grid {
  .one.column {
    .content h2 {
      margin-bottom: 40px !important;
      @include text-heading-h2();
    }
  }

  .two.column,
  .three.column {
    .grid-teaser-item .content {
      h2 {
        margin-bottom: 20px !important;
        @include text-heading-h3();
      }
    }
    .grid-block-image {
      figcaption {
        .title {
          @include text-heading-h3();
          margin: 0 0 10px 0;
        }
      }
      figure:after {
        height: 35%;
      }
    }
  }

  .four.column {
    .grid-teaser-item {
      .grid-image-wrapper {
        margin-bottom: 20px !important;
      }
      .content {
        .headline {
          @include headtitle2();
        }
        h2 {
          margin-bottom: 20px !important;
          @include text-heading-h4();
        }
      }
    }

    .grid-block-image {
      figcaption {
        .title {
          margin: 0 0 7px 0;
          color: $white !important;
          letter-spacing: 1px;
          @include text-heading-h4();
        }
      }
      figure:after {
        height: 35%;
      }
    }
  }
}

.block.__grid {
  .grid-block-image {
    figcaption {
      position: absolute;
      z-index: 100;
      bottom: 0;
      padding: 0 1rem 0 1rem;
      margin: 0;

      .title {
        margin: 0 0 20px 0;
        color: $white !important;
        letter-spacing: 1px;
        @include text-heading-h2();
      }

      .description {
        display: none;
      }

      .credits {
        margin-bottom: 0;
        color: $white !important;
        font-size: 10px;
      }
    }
    img {
      z-index: revert !important;
    }
    figure {
      position: relative;
      display: flex;
      justify-content: flex-end;
      margin: 0 !important;
    }

    figure:after {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 20%;
      background: linear-gradient(
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.75),
        $black
      );
      content: '';
    }
  }
}
.block.__grid.has--backgroundColor--grey,
#page-add .block-editor-__grid.has--backgroundColor--grey,
#page-edit .block-editor-__grid.has--backgroundColor--grey {
  background-color: $lightgrey;
  .grid-teaser-item {
    background: white;
  }
  .slate {
    padding: 0 !important;
    margin: 0 1rem 1rem 1rem;
    background-color: $white;
  }

  .slate-editor {
    padding: 0 !important;
    margin: 0 1rem 1rem 1rem;
    background-color: $white !important;
  }

  .grid-block-image {
    .block.image {
      background: white;
    }
  }
}

// Teasers in grids specific
#page-document .block.__grid .block.teaser {
  margin-bottom: 0;
}
