.block.__grid {
  margin-bottom: 0;
  margin-top: 0;

  .teaser {
    margin-bottom: 0;
  }

  .headline {
    font-weight: 300;
    font-size: 42px;
    line-height: 48px;
    margin-left: 0 !important;
  }
}

.grid-block-slate {
  padding-top: 0 !important;
}

.grid-block-teaser {
  padding-top: 0 !important;
}

.grid-block-image {
  padding-bottom: 0;
  padding-top: 0 !important;

  figcaption {
    position: absolute;
    bottom: 0;
    z-index: 100;
    padding: 1rem 1rem 0.5rem 1rem;

    .title {
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 18px;
      line-height: 22px;
      color: $white !important;
    }

    .description {
      color: $white !important;
    }

    .credits {
      font-size: 10px;
      margin-bottom: 0;
      color: $white !important;
    }
  }
  img {
    z-index: revert !important;
  }
  figure {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin: 0 !important;
  }

  figure:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35%;
    background-color: $black;
    opacity: 0.75;
  }
}

.slate {
  background-color: $lightgrey;
  margin: 0 !important;
  p {
    padding: 1.5rem 1.5rem 2.4rem 1.5rem !important;
  }
}

.block.__grid.has--backgroundColor--grey,
#page-add .block-editor-__grid.has--backgroundColor--grey,
#page-edit .block-editor-__grid.has--backgroundColor--grey {
  background-color: $lightgrey;
  .grid-teaser-item {
    background: white;
  }
  .slate {
    background-color: $white;
    padding: 0 !important;
    margin: 0 1rem 1rem 1rem;
  }

  .grid-block-image {
    .block.image {
      background: white;
    }
  }
}
