.block.heading {
  margin-bottom: 0 !important;
  .heading-wrapper {
    h2 {
      padding-top: 80px;
      padding-bottom: 80px;
      margin-top: 0;
      margin-bottom: 0;
      font-size: 33px;
      line-height: 42px;
    }
  }
}
