.block.heading{
  margin-bottom: 0!important;
  .heading-wrapper{
    h2{
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 80px;
      padding-bottom: 80px;
      font-size: 33px;
      line-height: 42px;

    }
  }
}