figure {
  display: flex;
  flex-direction: column;
  margin: 0;
}

// Image  Block (FZJ https://github.com/kitconcept/fzj-internet/blob/7043ff8317dde8e5bfe5b0b1e76c5fdd8f331e7e/theme/extras/custom.less#L1814)
.block-editor-image.full figcaption,
.block.image.full figcaption {
  padding-right: 25px;
  padding-left: 25px;

  @media only screen and (min-width: 1470px) {
    padding-right: 0px;
    padding-left: 0px;
  }
}

.block.image {
  margin: 0;

  &.align.left,
  &.align.right {
    // This is to equal the heading margin in case of the
    // floating image + heading use case
    // It matches the mocks for standalone images anyways
    margin-top: $spacing-large;
    margin-bottom: 0 !important;
  }

  &.align.left.has--backgroundColor--grey,
  &.align.right.has--backgroundColor--grey {
    margin-top: 0;

    figure {
      // Paddings do not collapse, so we have to substract the ever
      // present padding bottom for every block
      padding-top: $heading-text-top-spacing - $block-vertical-space;
    }
  }

  figure {
    img {
      width: 100% !important;
      height: auto;
    }

    &.right {
      margin-bottom: 20px;
      margin-left: 20px;
      float: right;

      @container (max-width: #{$largest-mobile-screen}) {
        margin-bottom: $spacing-large;
      }

      img {
        margin-right: 0 !important;
        margin-bottom: 0px;
        margin-left: 0 !important;
        float: none;
      }
    }

    &.left {
      margin-right: 20px;
      margin-bottom: 20px;
      float: left;

      @container (max-width: #{$largest-mobile-screen}) {
        margin-bottom: $spacing-large;
      }

      img {
        margin-right: 0 !important;
        margin-bottom: 0px;
        float: none;
      }
    }

    &.left,
    &.right {
      &.large {
        width: 50%;
        height: auto;

        @media only screen and (max-width: 768px) {
          width: 100%;
        }
      }

      &.medium {
        width: 50%;
        height: auto;
        @media only screen and (max-width: 768px) {
          width: 100%;
        }
      }

      &.small {
        width: 25%;
        height: auto;
        @media only screen and (max-width: 768px) {
          width: 100%;
        }
      }
    }

    &.wide,
    &.full {
      margin-top: $spacing-large;
      margin-bottom: $spacing-large;
    }

    &.center {
      width: 100% !important;
      margin-top: $spacing-large;
      margin-right: auto !important;
      margin-bottom: $spacing-large;
      margin-left: auto !important;
      object-fit: cover;

      img {
        height: auto;
        margin-right: initial;
        margin-left: initial;
      }

      &.large,
      &.medium,
      &.small {
        width: 100% !important;
      }

      &.large {
        figcaption {
          text-align: start;
        }
      }

      &.medium {
        figcaption {
          width: 100%;
          margin-right: auto;
          margin-left: auto;
          text-align: start;
        }
      }
    }
  }

  img {
    max-width: 100% !important;
    height: auto;
  }
}

// image/video captions
figcaption {
  margin: 25px 0 0 0;
  color: $grey;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  text-align: left;
  white-space: initial;

  .title {
    margin-bottom: 10px;
    @include marginal-title();
  }

  .description {
    div,
    a {
      @include marginal-description();
    }
  }

  .credits {
    margin-top: 5px;
    color: $blue-for-grey-contrast;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    @include marginal-description();
  }
}

// video block

#page-document .block.video.align.left,
.block.video.align.left,
#page-document .block.video.align.right,
.block.video.align.right {
  @include default-container-width;
}

#page-document .block.video.align.center figure,
.block.video.align.center figure {
  @include default-container-width;
}

.block.video {
  .figure {
    width: 100%;
  }

  &.full figcaption {
    padding-right: 25px;
    padding-left: 25px;
  }

  &.wide,
  &.full,
  &.center {
    margin-top: $spacing-large;
    margin-bottom: $spacing-large;
  }

  &.align.left.has--backgroundColor--grey figure,
  &.align.right.has--backgroundColor--grey figure {
    padding-top: 25px;
  }

  &.align.left.has--backgroundColor--grey,
  &.align.right.has--backgroundColor--grey {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  &.align.left,
  &.align.right {
    margin-top: $spacing-large;
    margin-bottom: 0 !important;

    .video-inner {
      margin-bottom: 20px !important;
      @media only screen and (max-width: $tablet-breakpoint) {
        width: 100%;
      }
      @container (max-width: #{$largest-mobile-screen}) {
        margin-bottom: $spacing-large !important;
      }
    }

    img {
      margin: 0 !important;
    }
  }

  &.align.left .video-inner {
    margin-right: 20px !important;
  }

  &.align.right .video-inner {
    margin-left: 20px !important;
  }
}

.image-widget {
  container-type: inline-size;

  #sidebar & img {
    width: 100%;
  }

  .no-image-wrapper {
    display: flex;
    width: min(100%, 450px);
    flex-direction: column;
    align-items: center;

    img {
      max-width: 150px;
    }
  }

  .toolbar-inner {
    display: flex;
    width: min(100%, 450px);
    height: 40px;
    padding: 4px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.975);
    box-shadow:
      0 0 8px rgba(0, 0, 0, 0.1),
      0 2px 4px rgba(0, 0, 0, 0.05);

    .ui.form & .ui.input input[type='text'] {
      height: initial;
    }

    & > svg {
      display: inline-block !important;
      box-sizing: content-box;
      padding: 4px;
      margin-right: 4px;
      color: $brown !important;
    }

    .ui.input {
      width: 100%;
      margin-left: 8px;
    }

    .ui.input > input {
      padding: 0;
      border: none;
    }

    .ui.icon.button {
      padding: 4px;
      border-radius: 1px;
      margin-left: -3px;
      color: $brown !important;

      &:hover {
        background-color: #edf1f2 !important;
      }
    }

    .ui.buttons:first-child {
      & .ui.icon.button {
        margin-left: 0;
      }
    }
  }
  .image-widget-preview-wrapper {
    position: relative;
  }

  .ui.basic.button.remove-block-button {
    position: absolute;
    z-index: 2;
    top: 6px;
    right: 2px;
    background-color: transparent;
    box-shadow: none;

    .icon {
      height: 18px !important;
    }

    .circled {
      padding: 8px;
      border: $border-light;
      background: $greySnow;

      &:hover {
        background-color: $greySmoke;
      }
    }

    &:hover {
      background-color: transparent !important;
    }
  }

  .image-widget-filepath-preview {
    display: flex;
    align-items: center;
    padding: 5px;
    word-break: break-all;

    a {
      margin-left: 5px;
    }
  }
}

.ui.form {
  p.help {
    @include marginal-description();
    a {
      @include marginal-description();
      text-decoration: underline;
    }
  }
}
