.block.introduction {
  margin: 0 0 3.5rem 0;

  .block-container p,
  .block-container ul,
  .block-container ol,
  .slate-editor p,
  .slate-editor ul,
  .slate-editor ol {
    margin: 0;
    @include one();
    strong,
    strong span {
      font-weight: bold;
    }
    em,
    em span {
      font-style: italic;
    }
  }
}
