.block.introduction {
  @include vertical-space-introduction();
  p + & {
    padding-bottom: $spacing-xlarge !important;
    border: 2px solid red !important;
  }
}


#page-document .block.separator + .block.introduction {
  padding: 0;
}

.block.introduction {
  .block-container p,
  .block-container ul,
  .block-container ol,
  .slate-editor p,
  .slate-editor ul,
  .slate-editor ol {
    margin: 0;
    @include introduction();
    strong,
    strong span {
      font-weight: bold;
    }
    em,
    em span {
      font-style: italic;
    }
  }

  .block-container p:empty {
    margin-bottom: $block-vertical-space;
  }

  h2 {
    @include highlight-title();
    margin-bottom: $spacing-large;
    @media only screen and (max-width: $largest-mobile-screen) {
      margin-bottom: $spacing-medium;
    }
  }
}
