// Listing Block
.block.listing.default {
  .listing-item {
    padding-bottom: 25px;
    border-bottom: 1px solid $black;
    a {
      .listing-body {
        h2{
          color: $black;
          font-size: 36px;
          font-weight: 700;
          line-height: 42px;
        }
        p {
          margin-bottom: 0;
          font-size: 18px;
          font-weight: 300;
          line-height: 24px;
        }
        p:empty {
          display: none;
        }
      }
    }
  }
}
