// Listing Block
.block.listing.default {
  .headline {
    @include block-title();
  }
  .listing-item {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid $black;

    a {
      .listing-body {
        h2 {
          color: $black;
          @include text-heading-h2();
        }
        p {
          margin-bottom: 0;
          @include body-text();
        }
        p:empty {
          display: none;
        }
      }
    }
  }
}

.block.listing.summary {
.listing-item {
  padding-top: 0 !important;
  padding-bottom: 40px !important;
  margin-bottom: 40px;
  img {
    width: 25%;
    height: min-content;
    aspect-ratio: $aspect-ratio;
  }
  h3 {
    color: $black;
    margin-bottom: 40px;
    @include text-heading-h2();
  }
}
}

// Grid Listing Block
.block.listing.grid {
  .items {
    display: flex;
    flex-wrap: wrap;
    @media only screen and (max-width: $tablet-breakpoint) {
      flex-direction: column;
    }
  }
  .headline {
    @include block-title();
  }
  .listing-item {
    @media only screen and (min-width: $tablet-breakpoint) {
      width: 50%;
    }
    margin-bottom: 0;

    .card-container {
      width: 100%;
      margin: 0.5rem;
      @media only screen and (max-width: $tablet-breakpoint) {
        margin-left: 0;
      }
      background-color: $lightgrey;
    }

    img.grid-item-image {
      width: 100%;
      aspect-ratio: $aspect-ratio;
    }

    .grid-item {
      margin-top: 40px;
    }

    .content {
      padding: 0 20px 40px 20px;

      .headline {
        padding: 0 !important;
        margin-bottom: 20px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $black;
        @include headtitle1();
      }

      h2 {
        margin: 0 0 20px 0;
        color: $black;
        @include text-heading-h3();
      }
      p {
        margin-bottom: 0;
        @include body-text();
      }
      p:empty {
        display: none;
      }
    }
  }
}

#page-add .block-editor-listing.has--backgroundColor--grey,
#page-edit .block-editor-listing.has--backgroundColor--grey,
.block.listing.has--backgroundColor--grey {
  background-color: $lightgrey;

  &.grid { 
    .listing-item {
      .card-container {
        background-color: $white;
      }
    }
  }
  .block.listing.grid { 
    .listing-item {
      .card-container {
        background-color: $white;
      }
    }
  }

}

