// Listing Block
.block.listing,
.column > .block.listing,
.block.search,
.block-editor-search {
  &.next--has--same--backgroundColor.next--is--same--block-type,
  &.next--is--__button {
    .listing-item:last-child {
      padding-bottom: 40px !important;
      border-bottom: 1px solid $black !important;
    }
  }

  .items {
    margin-bottom: 80px;
    @container (max-width: #{$largest-mobile-screen}) {
      margin-bottom: 60px;
    }
  }

  .listing-item {
    padding-bottom: 40px !important;
    border-bottom: 1px solid $black;
    margin-bottom: 40px;

    &:last-child {
      padding-bottom: 0 !important;
      border-bottom: none !important;
      margin-bottom: 0;
    }
  }

  // Default variation
  &.default {
    .headline {
      @include block-title();
    }

    .listing-item {
      a {
        .listing-body {
          h2 {
            color: $black;
            @include text-heading-h2();
          }
          p {
            margin-bottom: 0;
            @include body-text();
          }
          p:empty {
            display: none;
          }
        }
      }
    }
  }

  // Summary variation
  &.summary {
    .listing-item {
      padding-top: 0 !important;

      img {
        width: 220px;
        height: min-content;
        aspect-ratio: $aspect-ratio !important;
        @container (max-width: #{$largest-mobile-screen}) {
          width: 100%;
        }
      }
      h3 {
        margin-bottom: 40px !important;
        color: $black;
        @include text-heading-h2();
        @container (max-width: #{$largest-mobile-screen}) {
          @include text-heading-h3();
          margin-bottom: 20px;
        }
      }
    }
  }

  // Grid variation
  &.grid {
    &.next--has--same--backgroundColor.next--is--same--block-type,
    &.next--is--__button {
      .listing-item:last-child {
        padding-bottom: 0 !important;
        border-bottom: none !important;
      }
    }

    .items {
      display: flex;
      flex-wrap: wrap;
      @media only screen and (max-width: $largest-mobile-screen) {
        flex-direction: column;

        .listing-item {
          padding-bottom: 20px !important;
        }
      }
    }
    .headline {
      @include block-title();
      margin-right: 0 !important;
      margin-left: 0 !important;
    }
    .listing-item {
      align-items: normal;
      border-bottom: none;
      margin: 0 !important;

      @media only screen and (min-width: $largest-mobile-screen) {
        width: 50%;
        padding-top: 10px;
        padding-bottom: 10px !important;

        &:nth-child(2n) {
          padding-left: 10px !important;
        }

        &:nth-child(2n + 1) {
          padding-right: 10px !important;
        }

        &:last-child,
        &:nth-last-child(2):not(:nth-child(2n)) {
          padding-bottom: 0 !important;
        }

        &:first-child,
        &:nth-child(2) {
          padding-top: 0 !important;
        }
      }

      &:last-child:nth-child(2n + 1) {
        @media only screen and (min-width: $largest-mobile-screen) {
          margin-left: 0 !important;
        }
      }

      .card-container {
        width: 100%;
        height: 100% !important;
        background-color: $lightgrey;
      }

      img.item-image {
        width: 100%;
        margin: 0;
        aspect-ratio: $aspect-ratio !important;
      }

      .item {
        margin-top: 40px;
      }

      .content {
        padding: 0 20px 40px 20px;

        .headline {
          padding: 0 !important;
          margin-bottom: 20px;
          color: $black;
          letter-spacing: 1px;
          text-transform: uppercase;
          @include headtitle1();
        }

        h2 {
          margin: 0 0 20px 0;
          color: $black;
          @include text-heading-h3();
        }
        p {
          margin-bottom: 0;
          @include body-text();
        }
        p:empty {
          display: none;
        }
      }
    }
  }

  &:not(.has--headline) {
    margin-top: 200px;
  }

  .documentFirstHeading
    + &.previous--has--same--backgroundColor:not(.has--headline) {
    margin-top: 0;
  }

  // Pagination
  .pagination-wrapper {
    display: table;
    margin: auto;
    border-collapse: collapse;
    @include body-text();

    .ui.pagination.menu {
      display: table-row;
      margin-bottom: 30px;

      .item {
        display: table-cell;
        min-width: 32px;
        padding: 6.5px 10px;
        border: solid 1px $black;
        border-collapse: collapse;
        border-radius: 0;
        color: $black;

        &:first-child,
        &:last-child {
          padding: 6.5px 15px 6.5px 15px;
        }

        &.active {
          background-color: $black;
          color: $white;
        }
      }

      &.mobile-pagination {
        display: none;
      }

      @container (max-width: #{$largest-mobile-screen}) {
        &.mobile-pagination {
          display: unset;
        }

        &.desktop-pagination {
          display: none;
        }
      }
    }

    .total {
      display: table-caption;
      margin-top: 30px;
      caption-side: bottom;
      text-align: center;
    }
  }
}

#page-add .block-editor-listing,
#page-edit .block-editor-listing {
  .block.listing {
    margin-top: 0;
    .items {
      margin-right: auto;
      margin-left: auto;
    }

    h2 {
      @include default-container-width();
      margin-right: auto;
      margin-left: auto;
    }
  }
}

#page-add .block-editor-listing.has--backgroundColor--grey,
#page-edit .block-editor-listing.has--backgroundColor--grey,
.block.listing.has--backgroundColor--grey {
  background-color: $lightgrey;

  &.grid {
    .listing-item {
      .card-container {
        background-color: $white;
      }
    }
  }
  .block.listing.grid {
    .listing-item {
      .card-container {
        background-color: $white;
      }
    }
  }
}
