#page-document .block.separator {
  // cancel the original padding from the add-on
  margin-top: 0;

  &.has--align--center,
  &.inner {
    margin-right: auto;
    margin-left: auto;
  }

  @include vertical-space-separator();
}

#page-edit .block-editor-separator {
  &.has--backgroundColor--grey {
    background-color: $lightgrey;
  }
  .block.separator {
    &.inner {
      margin-right: auto;
      margin-left: auto;

      .block.separator {
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
}
