#page-document .block.separator {
  // To be removed when Separator addon is fully transformed into v3:
  .block:hover::before {
    display: none;
  }
  // cancel the original spacings from the add-on
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 !important;

  &.has--align--center {
    max-width: unset !important;

  }

  .block-inner-container {
    margin-right: auto;
    margin-left: auto;
  }

  .block.separator {
    @include vertical-space-separator();
  }
}

#page-edit .block-editor-separator {
  &.has--backgroundColor--grey {
    background-color: $lightgrey;
  }
  .block.separator {
    &.inner {
      margin-right: auto;
      margin-left: auto;

      .block.separator {
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
}
