// Slider Block
:root {
  --slider-block-edit-width-adjustment: 40px;
}

$sliderImagesAspectRatio: var(--slider-images-aspect-ratio, 16/9);

.block.slider {
  // Reset original
  &:not(.inner):not([role='presentation']) {
    padding-bottom: 0;
  }

  .highlight-image-wrapper img {
    // Override Volto's Image Component inline style aspect ratio.
    aspect-ratio: $sliderImagesAspectRatio !important;
  }

  .teaser-item,
  .grid-teaser-item {
    flex-direction: column;
  }
  .teaser-item {
    padding-bottom: $spacing-xlarge;
  }

  .slide-wrapper:not(.empty-slide) {
    padding-bottom: $spacing-xlarge;
  }

  .slick-arrow {
    width: 50px;
    // Equal to the space we give at the bottom to place the buttons
    height: calc(100% - $spacing-xlarge);
    background-color: rgba(0, 0, 0, 0.15);
    color: $white;
    // border: 2px solid red;
    opacity: 0;
    transition: opacity 0.2s ease-in;
    &:hover {
      opacity: 1;
    }
  }

  .slick-next,
  .slick-prev {
    top: initial;
  }

  .slick-next {
    right: 0;
    // Equal to the space we give at the bottom to place the buttons
    bottom: $spacing-xlarge;
    @media only screen and (max-width: $computer-width) {
      display: none !important;
    }
  }

  .slick-prev {
    z-index: 9;
    left: 0;
    @media only screen and (max-width: $computer-width) {
      display: none !important;
    }
  }

  .slick-dots {
    bottom: 34px;
    line-height: 0;

    li,
    button {
      width: 46px;
      height: 6px;
      padding: 0;
      background-color: $secondary-grey;
    }

    li.slick-active button {
      background-color: $black;
    }

    li {
      margin-right: 13px;
      margin-left: 0;
    }

    button:before {
      display: none;
      content: '';
    }
  }

  .teaser-item.top {
    position: relative;
  }

  .teaser-item-title {
    position: absolute;
    top: 50%;
    width: 570px;
    min-height: 321px;
    padding: 60px 50px 60px 100px;
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    transform: translateY(-50%);

    @container (max-width: 1024px) {
      padding: 30px 30px 30px 80px;
    }

    @media only screen and (max-width: $computer-width) {
      position: static;
      width: 100%;
      padding: 60px 20px;
      background: $black;
      transform: none;
    }
    &.has--slider--flagAlign--right {
      right: 0;
    }

    .title {
      .supertitle {
        display: inline-block;
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 1px;
        line-height: 18px;
        text-transform: uppercase;
      }
      h2 {
        @include text-heading-h2();
        margin-top: 0px;
        margin-bottom: $spacing-medium;
      }
    }
    p {
      @include introduction();
      display: -webkit-box;
      overflow: hidden;
      margin-bottom: 50px;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;
      text-overflow: ellipsis;
      @media only screen and (max-width: $computer-width) {
        margin-bottom: $spacing-large;
      }
    }
  }

  .ui.button {
    display: initial;
    padding: 8px 20px;
    border: 1px solid currentColor;
    border-radius: 0;
    background-color: transparent;
    color: inherit;
    font-size: 16px;
    font-weight: 900;
    line-height: 20px;
    text-align: center;
  }
}
