.ui.table.slate-table-block {
  th {
    padding: $spacing-small;
    background: $darkGrey;
    color: $white;
    p {
      font-weight: bold;
      text-transform: none;
    }
  }
}

.blocks-group-wrapper.transparent,
.block-editor-slateTable.has--backgroundColor--transparent {
  .ui.striped.table.slate-table-block tbody tr:nth-child(2n) {
    background-color: $lightgrey;
  }
}

.blocks-group-wrapper.grey,
.block-editor-slateTable.has--backgroundColor--grey {
  .ui.striped.table.slate-table-block tbody tr:nth-child(2n) {
    background: $white;
  }
  .slate-table-block,
  .slateTable {
    background-color: $lightgrey;
  }
}

.field-wrapper-hideHeaders-0-table,.field-wrapper-sortable-1-table,.field-wrapper-compact-5-table,
.field-wrapper-basic-6-table,.field-wrapper-inverted-7-table,.field-wrapper-fixed-2-table,.field-wrapper-celled-3-table{
  display: none;
}
