// Block Teaser Standalone
#page-document > .block.teaser {
  padding: 25px 0;

  &.has--align--left,
  &.has--align--right {
    .grid-teaser-item.default {
      display: flex;

      .grid-image-wrapper {
        align-self: flex-start;
      }

      @media only screen and (max-width: $largest-mobile-screen) {
        flex-direction: column !important;

        .grid-image-wrapper {
          margin-right: 0;
          margin-bottom: 25px;
          margin-left: 0;

          img {
            width: 100%;
            max-width: unset;
            height: auto;
          }
        }
      }
    }
  }

  &.has--align--left {
    .grid-teaser-item.default {
      flex-direction: row;

      .grid-image-wrapper {
        margin-right: 20px;
        margin-left: 0;

        @media only screen and (max-width: $largest-mobile-screen) {
          margin-right: 0;
          margin-left: 0;
        }
      }
    }
  }

  &.has--align--right {
    a .grid-teaser-item.default {
      flex-direction: row-reverse;

      .grid-image-wrapper {
        margin-right: 0;
        margin-left: 26px;

        @media only screen and (max-width: $largest-mobile-screen) {
          margin-right: 0;
          margin-left: 0;
        }
      }
    }
  }

  &.has--align--center {
    .grid-teaser-item.default {
      display: block;

      a {
        display: block;
      }

      .grid-image-wrapper {
        margin-bottom: 25px;
      }
    }
  }

  .content h3 {
    padding: 0 20px 0 0;
    margin: 0 0 15px 0;
    color: $black;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
  }
}

// Dynamic font sizes depending on number of columns in grid
.four.column {
  .content h2 {
    padding-top: 20px !important;
    font-size: 30px !important;
    line-height: 36px !important;
  }
}

.three.column {
  .content h2 {
    padding-top: 20px !important;
    font-size: 36px !important;
    line-height: 42px !important;
  }
}

.two.column, .one {
  .content h2 {
    font-size: 48px !important;
    line-height: 56px !important;
    padding-top: 20px !important;
    padding-bottom: 40px !important;
  }
}

.grid-block-teaser {
  .block.teaser {
    background-color: $lightgrey;
    .content {
      padding: 0 26px 60px 26px;
      font-size: 18px;
      line-height: 24px;

      h2 {
        font-weight: 700;
        padding-bottom: 20px;
      }
    }
  }
}

.block.teaser {
  // We want the image to extend in all its container width
  height: 100%;

  .grid-image-wrapper {
    width: 100%;
  }

  .content {
    align-self: flex-start;

    .headline {
      letter-spacing: 1px;
      text-transform: uppercase;
      padding-bottom: 20px;
      margin: 0;
      color: $black;
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
    }

    h2 {
      padding: 0 20px 0 0;
      margin: 0 0 40px 0;
      color: $black;
      font-size: 48px;
      line-height: 56px;
    }

    p {
      margin: 0;
      font-size: 18px;
      font-weight: 300;
      line-height: 24px;
    }
  }
}

// Block Teaser Standalone Edit

.block-editor-teaser.has--align--left .block.teaser,
.block-editor-teaser.has--align--right .block.teaser {
  .grid-teaser-item.default {
    display: flex;

    .grid-image-wrapper {
      align-self: flex-start;
    }
  }
}

.block-editor-teaser.has--align--left .block.teaser {
  .grid-teaser-item.default {
    flex-direction: row;

    .grid-image-wrapper {
      margin-right: 26px;
      margin-left: 0;
    }
  }
}

.block-editor-teaser.has--align--right .block.teaser {
  .grid-teaser-item.default {
    flex-direction: row-reverse;

    .grid-image-wrapper {
      margin-right: 0;
      margin-left: 20px;
    }
  }
}

.block-editor-teaser.has--align--center .block.teaser {
  .grid-teaser-item.default {
    display: block;

    .grid-image-wrapper {
      margin: 0 0 25px 0;
    }
  }
}
