// Override the Image component `aspect-ratio`
.teaser-item .image-wrapper img {
  aspect-ratio: $aspect-ratio !important;
}

// Block Teaser Standalone
#page-document .block.teaser {
  @include vertical-space-teaser();
}

.blocks-group-wrapper > .block.teaser,
.block-editor-teaser .block.teaser {
  // We want the image to extend in all its container width
  height: 100%;

  a.external {
    .content h2:after {
      display: inline;
      content: '\a0'
        url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='external-link-alt' class='svg-inline--fa fa-external-link-alt fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='11' height='11' %3E%3Cpath fill='%23007EB1' d='M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z'%3E%3C/path%3E%3C/svg%3E");
      white-space: nowrap;
    }
  }

  .teaser-item.default {
    align-items: start;
    padding-bottom: 40px; // same as vertical spacing in margin-bottom
    border-bottom: $border-default;
  }

  .image-wrapper {
    width: 100%;
  }

  &.has--align--left,
  &.has--align--right {
    .teaser-item.default {
      display: flex;

      .image-wrapper {
        align-self: flex-start;
      }

      @media only screen and (max-width: $largest-mobile-screen) {
        flex-direction: column !important;
      }
    }
  }

  &.has--align--left {
    .teaser-item.default {
      flex-direction: row;

      .image-wrapper {
        margin-right: 20px;

        @media only screen and (max-width: $largest-mobile-screen) {
          margin-right: 0;
          margin-bottom: 26px;
        }
      }
    }
  }

  &.has--align--right {
    .teaser-item.default {
      flex-direction: row-reverse;

      .image-wrapper {
        margin-right: 0px;
        margin-left: 20px;

        @media only screen and (max-width: $largest-mobile-screen) {
          margin-bottom: 26px;
          margin-left: 0;
        }
      }
    }
  }

  &.has--align--center {
    .teaser-item.default {
      display: block;
      a {
        display: block;
      }

      .image-wrapper {
        margin-bottom: 26px;
        @container (max-width: #{$largest-mobile-screen}) {
          margin: 0 0 20px 0 !important;
        }
      }
    }
  }

  .content {
    .headline {
      margin-bottom: 20px;
      letter-spacing: 1px;
      text-transform: uppercase;
      @include headtitle1();
    }
    h2 {
      margin-top: 0;
      margin-bottom: 40px;
      @include text-heading-h2();
      @container (max-width: #{$largest-mobile-screen}) {
        @include text-heading-h3();
        margin-bottom: 20px;
      }
    }
    p {
      margin: 0;
      @include body-text();
    }
  }

  &.is--last--of--block-type,
  &.next--has--different--backgroundColor {
    .teaser-item.default {
      padding-bottom: 0;
      border-bottom: none;
    }
    &.next--is--__button {
      .teaser-item.default {
        padding-bottom: 40px;
        border-bottom: $border-default;
      }
    }
  }
}

#page-edit .block-editor-teaser.has--backgroundColor--grey {
  background-color: $lightgrey;
}
