#toolbar {
  .toolbar-content {
    z-index: 100;
  }
  .toolbar {
    background: #f3f5f7;
    box-shadow:
      0px 5px 20px 0px rgba(0, 0, 0, 0.19),
      0px 3px 3px 0px rgba(0, 0, 0, 0.23);
  }
}

#sidebar-properties {
  .field.widget {
    .buttons {
      display: flex;
      align-items: center;

      button {
        aspect-ratio: 1/1;
        padding: 5px;
        &[data-hovered='true'] {
          box-shadow: inset 0 0 0 2px rgba(0, 112, 162, 0.5);
        }
        &.active {
          box-shadow: inset 0 0 0 2px rgb(0, 112, 162);
        }
      }
    }
  }
}
