// All variables has to be `!default`'ed in order to be able to
// be overriden by add-ons
@use 'sass:map';

// // Semantic UI related - Synced
// Colors
$text-color: #000 !default;
$font-size: 18px !default;
$line-height: 24px !default;

// Headers font size
$heading1: 60px !default;
$heading2: 30px !default;
$heading3: 24px !default;

$block-title-h2: 42px !default;

$heading-title-top-spacing: 100px !default;
$heading-title-bottom-spacing: 75px !default;
$padding-colored-pills: 20px !default;

$heading-text-top-spacing: 50px !default;
$heading-text-bottom-spacing: 25px !default;

// Fonts
$custom-fontname: 'Inter' !default;
$cmsui-fontname: 'Metropolis' !default;
$page-font-template: $custom-fontname, sans-serif !default;
$page-font: var(--custom-main-font, $page-font-template) !default;
$cmsui-font: var(--custom-cms-font, $cmsui-fontname, $page-font) !default;
$header-font: var(--custom-headers-font, $page-font) !default;

// Breakpoints
// Mobile / Tablet portrait < 769 | Tablet landscape / Small desktop < 941 | Computer desktop < 1440 | Large Monitor > 1440
$largest-mobile-screen: 768px !default; // not finished in `-width` for historical reasons (SemanticUI naming)
$tablet-breakpoint: 769px !default;
$computer-width: 940px !default;
$computer-breakpoint: 941px !default;
$large-monitor-width: 1440px !default;
$large-monitor-breakpoint: 1441px !default;

// Container widths
$layout-container-width: 1440px !default;
$default-container-width: 940px !default;
$narrow-container-width: 620px !default;

// Rest of theme variables
:root {
  --text-color: #666;
  --text-size: 18px;
}

// Colors
$white: #fff !default;
$veryLightGrey: #eee !default;
$darkGrey: #555555 !default;
$black: #000 !default;
$grey: #666 !default;
$lightgrey: #ecebeb !default;
$blue-for-grey-contrast: #0070a2 !default;
$brown: #826a6a !default;
$blueArctic: #e2f1fd !default;
$greySnow: #f3f5f7 !default;
$greySmoke: #e4e8ec !default;
$darkBlue: #023d6b !default;
$secondary-grey: #ececec !default;

// Image Aspect Ratio
$aspect-ratio: var(--image-aspect-ratio, 16/9) !default;

// Weights
$thin: 100 !default;
$extra-light: 200 !default;
$light: 300 !default;
$regular: 400 !default;
$medium: 500 !default;
$semi-bold: 600 !default;
$bold: 700 !default;
$extra-bold: 800 !default;
$bolder: 900 !default;

// Sizes
$font-size-2xs: 12px !default;
$font-size-xs: 14px !default;
$font-size-s: 18px !default;
$font-size-m: 21px !default;
$font-size-l: 24px !default;
$font-size-xl: 30px !default;
$font-size-2xl: 33px !default;
$font-size-3xl: 36px !default;
$font-size-4xl: 42px !default;
$font-size-5xl: 48px !default;

// Line heights
$line-height-xs: 16px !default;
$line-height-s: 18px !default;
$line-height-m: 24px !default;
$line-height-l: 30px !default;
$line-height-xl: 33px !default;
$line-height-2xl: 36px !default;
$line-height-3xl: 42px !default;
$line-height-4xl: 48px !default;
$line-height-5xl: 56px !default;

// Spacing
$spacing-small: 20px !default;
$spacing-medium: 40px !default;
$spacing-large: 60px !default;
$spacing-xlarge: 80px !default;

// Horizontal Spacing
$horizontal-space-small-screens: $spacing-small !default;

// Vertical Spacing
$block-vertical-space: 25px !default;

// Change of color
$color-block-change-vertical-spacing: $spacing-xlarge !default;

// Grids
$grid-block-vertical-spacing-top: $spacing-xlarge !default;
$grid-block-vertical-spacing-bottom: $spacing-xlarge !default;

@mixin vertical-space-h1() {
  margin-top: $spacing-medium;
  margin-bottom: $spacing-xlarge;
  @media only screen and (max-width: $largest-mobile-screen) {
    margin-bottom: $spacing-large;
  }
}

@mixin vertical-space-h2() {
  margin-top: $spacing-xlarge;
  margin-bottom: $spacing-medium;
  @media only screen and (max-width: $largest-mobile-screen) {
    margin-top: $spacing-large;
  }
}

@mixin vertical-space-h3() {
  margin-top: $spacing-large;
  margin-bottom: $spacing-small;
}

@mixin vertical-space-h4() {
  margin-top: $spacing-large;
  margin-bottom: $spacing-small;
}

@mixin vertical-space-heading() {
  margin-top: $spacing-xlarge;
  margin-bottom: $spacing-xlarge;
  @media only screen and (max-width: $largest-mobile-screen) {
    margin-top: $spacing-large;
    margin-bottom: $spacing-large;
  }
}

@mixin vertical-space-introduction() {
  margin-top: $spacing-xlarge;
  margin-bottom: $spacing-xlarge;
  @media only screen and (max-width: $largest-mobile-screen) {
    margin-top: $spacing-large;
    margin-bottom: $spacing-large;
  }
}

@mixin vertical-space-button() {
  margin-top: $spacing-xlarge;
  margin-bottom: $spacing-xlarge;
  @media only screen and (max-width: $largest-mobile-screen) {
    margin-top: $spacing-large;
    margin-bottom: $spacing-large;
  }
}

@mixin vertical-space-teaser() {
  margin-bottom: $spacing-medium;
}

@mixin vertical-space-separator() {
  margin-top: $spacing-xlarge;
  margin-bottom: $spacing-xlarge;
  @media only screen and (max-width: $largest-mobile-screen) {
    margin-top: $spacing-large;
    margin-bottom: $spacing-large;
  }
}

@mixin vertical-space-block-title() {
  margin-top: $spacing-xlarge;
  margin-bottom: $spacing-xlarge;
  @media only screen and (max-width: $largest-mobile-screen) {
    margin-top: $spacing-large;
    margin-bottom: $spacing-large;
  }
}

@mixin color-block-change-vertical-spacing() {
  padding-top: $color-block-change-vertical-spacing;
  padding-bottom: $color-block-change-vertical-spacing;
  @media only screen and (max-width: $largest-mobile-screen) {
    padding-top: $spacing-large;
    padding-bottom: $spacing-large;
  }
}

@mixin grid-block-vertical-spacing-top() {
  margin-top: $grid-block-vertical-spacing-top;
  @media only screen and (max-width: $largest-mobile-screen) {
    margin-top: $spacing-large;
  }
}

// Footer
$footer-vertical-spacing-top: $spacing-xlarge !default;

// Maps
$font-weights: (
  thin: $thin,
  extra-light: $extra-light,
  light: $light,
  regular: $regular,
  medium: $medium,
  semi-bold: $semi-bold,
  bold: $bold,
  extra-bold: $extra-bold,
  bolder: $bolder,
);

$font-sizes: (
  2xs: $font-size-2xs,
  xs: $font-size-xs,
  s: $font-size-s,
  m: $font-size-m,
  l: $font-size-l,
  xl: $font-size-xl,
  2xl: $font-size-2xl,
  3xl: $font-size-3xl,
  4xl: $font-size-4xl,
  5xl: $font-size-5xl,
);

$line-heights: (
  xs: $line-height-xs,
  s: $line-height-s,
  m: $line-height-m,
  l: $line-height-l,
  xl: $line-height-xl,
  2xl: $line-height-2xl,
  3xl: $line-height-3xl,
  4xl: $line-height-4xl,
  5xl: $line-height-5xl,
);

@mixin add($property, $value) {
  @if $property == size {
    #{"font-" + $property}: map.get($font-sizes, $value);
  } @else if $property == height {
    #{"line-" + $property}: map.get($line-heights, $value);
  } @else if $property == weight {
    #{"font-" + $property}: map.get($font-weights, $value);
  }
}

// Patterns
@mixin body-text() {
  @include add(size, s);
  @include add(height, m);
  @include add(weight, light);
}

@mixin body-text-bold() {
  @include add(size, s);
  @include add(height, m);
  @include add(weight, bold);
}

@mixin page-title() {
  @include add(size, 5xl);
  @include add(height, 5xl);
  @include add(weight, bold);

  @container (max-width: #{$largest-mobile-screen}) {
    @include add(size, 4xl);
    @include add(height, 4xl);
  }
}

@mixin block-title() {
  @include add(size, 2xl);
  @include add(height, 3xl);
  @include add(weight, light);

  @container (max-width: #{$largest-mobile-screen}) {
    @include add(size, xl);
    @include add(height, 2xl);
  }
}

@mixin text-heading-h2() {
  @include add(size, xl);
  @include add(height, 2xl);
  @include add(weight, bold);
}

@mixin text-heading-h3() {
  @include add(size, l);
  @include add(height, l);
  @include add(weight, bold);
}

@mixin text-heading-h4() {
  @include add(size, s);
  @include add(height, m);
  @include add(weight, bold);
}

@mixin introduction() {
  @include add(size, l);
  @include add(height, xl);
  @include add(weight, light);

  @container (max-width: #{$largest-mobile-screen}) {
    @include add(size, m);
    @include add(height, l);
  }
}

@mixin headtitle1() {
  @include add(size, xs);
  @include add(height, s);
  @include add(weight, bold);
}

@mixin headtitle2() {
  @include add(size, 2xs);
  @include add(height, xs);
  @include add(weight, bold);
}

@mixin highlight-title() {
  @include add(size, 3xl);
  @include add(height, 4xl);
  @include add(weight, bold);

  @container (max-width: #{$largest-mobile-screen}) {
    @include add(size, 2xl);
    @include add(height, 3xl);
  }
}

@mixin marginal-title() {
  @include add(size, xs);
  @include add(height, s);
  @include add(weight, bold);
}

@mixin marginal-description() {
  @include add(size, xs);
  @include add(height, s);
  @include add(weight, light);
}

@mixin external-link-icon() {
  display: inline;
  content: '\a0'
    url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='external-link-alt' class='svg-inline--fa fa-external-link-alt fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='11' height='11' %3E%3Cpath fill='%23007EB1' d='M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z'%3E%3C/path%3E%3C/svg%3E");
  white-space: nowrap;
}
