.block.highlight {
  --highlight-images-aspect-ratio: var(--image-aspect-ratio, 1.7777777778);
  .teaser-item.top .highlight-description {
    .title h2 {
      @include highlight-title();
    }
    .description {
      a,
      p,
      span {
        @include introduction();
      }
      strong * {
        font-weight: inherit;
      }
      a {
        color: inherit !important;

        &::after {
          background-color: var(
            --theme-foreground-color,
            --link-foreground-color
          );
        }
      }
    }

    .button a {
      @include body-text-bold();
      text-decoration: none;
    }
  }
}
