.block.maps,
.block-editor-maps {
  margin-top: $spacing-large;
  margin-bottom: $spacing-large;
  .maps-inner {
    @include variable-container-width();

    iframe {
      height: unset;
      aspect-ratio: var(--image-aspect-ratio, $aspect-ratio);
    }
  }
  &.has--block-alignment--left {
    .maps-inner {
      width: 100%;
      @include floated-figure('left');
    }
  }

  &.has--block-alignment--right {
    .maps-inner {
      width: 100%;
      @include floated-figure('right');
    }
  }
  &.has--block-alignment--left,
  &.has--block-alignment--right {
    margin-bottom: 0 !important;
    @container (max-width: #{$largest-mobile-screen}) {
      margin-bottom: $spacing-large !important;
    }
  }

  &.has--block-width--full iframe {
    max-height: 600px;
  }
}

#page-document .blocks-group-wrapper > .block.maps {
  @include variable-container-width();
}

#page-document .blocks-group-wrapper {
  // Unfortunately needed to have more specificity than the top one
  // TODO: Remove when using layers and the BMv3
  & > .block.maps.has--block-width--default {
    @include adjustMarginsToContainer($default-container-width);
  }
  & > .block.maps.has--block-width--layout {
    @include adjustMarginsToContainer($layout-container-width);
  }
  & > .block.maps.has--block-width--narrow {
    @include adjustMarginsToContainer($narrow-container-width);
  }
}

// Edit block overrides
#page-edit,
#page-add {
  .block-editor-maps {
    &.has--block-alignment--right,
    &.has--block-alignment--left {
      .block .block:not(.inner)::before {
        z-index: 1;
      }
    }
    .block.inner .block .block {
      z-index: 2;
      @include variable-container-width();

      &:before {
        display: none;
      }
    }
  }
}
