// Slider Block
$sliderImagesAspectRatio: var(--slider-images-aspect-ratio, 16/9);

.block.slider {
  // Reset original
  &:not(.inner):not([role='presentation']) {
    padding-bottom: 0;
  }

  .slider-viewport {
    margin-bottom: 47px;
  }

  .slider-dots {
    padding-bottom: 47px;
  }

  .teaser-item,
  .grid-teaser-item {
    flex-direction: column;
    @media only screen and (max-width: $computer-width) {
      height: 100%;
    }
  }
  .link-container {
    @media only screen and (max-width: $computer-width) {
      height: 100%;
    }
  }

  .teaser-item {
    .highlight-image-wrapper {
      display: flex; // Small gap was appearing between the wrapper and the image (??)

      img {
        // Override Volto's Image Component inline style aspect ratio.
        aspect-ratio: var(
          --image-aspect-ratio,
          $sliderImagesAspectRatio
        ) !important;
      }
    }
    @media only screen and (max-width: $computer-width) {
      display: flex;
    }
    .teaser-item-title {
      position: absolute;
      top: 50%;
      width: 570px;
      min-height: 321px;
      padding: 60px 50px 60px 100px;
      background: rgba(0, 0, 0, 0.75);
      color: white;
      transform: translateY(-50%);

      @container (max-width: 1024px) {
        padding: 30px 30px 30px 80px;
      }

      @media only screen and (max-width: $computer-width) {
        position: static;
        width: 100%;
        height: 100%;
        padding: 60px 20px;
        background: $black;
        transform: none;
      }
      &.has--slider--flagAlign--right {
        right: 0;
      }

      .title {
        .supertitle {
          display: inline-block;
          margin-bottom: 20px;
          font-size: 14px;
          font-weight: 700;
          letter-spacing: 1px;
          line-height: 18px;
          text-transform: uppercase;
        }
        h2 {
          @include text-heading-h2();
          margin-top: 0px;
          margin-bottom: $spacing-medium;
          color: $white;
        }
      }
      p {
        @include introduction();
        display: -webkit-box;
        overflow: hidden;
        margin-bottom: 50px;
        -webkit-box-orient: vertical;
        color: $white;
        -webkit-line-clamp: 5;
        text-overflow: ellipsis;
        @media only screen and (max-width: $computer-width) {
          margin-bottom: $spacing-large;
        }
      }
    }
  }

  .slide-wrapper:not(.empty-slide) {
    padding-bottom: $spacing-xlarge;
  }

  .teaser-item.top {
    position: relative;
  }

  .ui.button {
    display: initial;
    padding: 8px 20px;
    border: 1px solid currentColor;
    border-radius: 0;
    background-color: transparent;
    color: $white;
    font-size: 16px;
    font-weight: 900;
    line-height: 20px;
    text-align: center;
  }

  &.side {
    .teaser-item {
      display: grid;
      align-items: center;
      padding: 0 130px;
      aspect-ratio: 16/9;
      background: rgba(0, 0, 0, 0.75);
      gap: 70px;
      grid-template-areas: 'images content';
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      @media only screen and (max-width: $computer-width) {
        display: flex;
        padding: 0 0;
        aspect-ratio: auto;
        gap: 0;
      }

      &.has--slider--flagAlign--right {
        grid-template-areas: 'images content';
      }
      &.has--slider--flagAlign--left {
        grid-template-areas: 'content images';
      }

      .highlight-image-wrapper {
        grid-area: images;

        img {
          aspect-ratio: var(
            --image-aspect-ratio,
            $sliderImagesAspectRatio
          ) !important;

          @media only screen and (max-width: $computer-width) {
            width: 100%;
          }
        }
      }
      .teaser-item-title {
        position: relative;
        top: 0;
        width: 100%;
        align-content: center;
        padding: 0;
        background: none;
        color: white;
        grid-area: content;
        transform: none;

        @media only screen and (max-width: $computer-width) {
          position: relative;
          width: 100%;
          height: 100%;
          padding: 60px 20px;
          background: $black;
          transform: none;
        }
      }
    }
    .slider-button {
      width: 130px;
      background: rgba(0, 0, 0, 0);

      svg.icon {
        width: 50px !important;
        height: 50px !important;
        padding: 40px;
        background: rgba(0, 0, 0, 0.15);
      }
    }
  }
  &.full-side {
    .teaser-item {
      display: grid;
      align-items: center;
      aspect-ratio: 16/9;
      background: rgba(0, 0, 0, 0.75);
      gap: 60px;
      grid-template-areas: 'images content';
      grid-template-columns: 3fr 2fr;
      grid-template-rows: auto;

      @media only screen and (max-width: $computer-width) {
        display: flex;
        padding-right: 0;
        padding-left: 0;
        aspect-ratio: auto;
        gap: 0;
      }

      &.has--slider--flagAlign--right {
        padding-right: 130px;
        grid-template-areas: 'images content';
        grid-template-columns: 3fr 2fr;
        @media only screen and (max-width: $computer-width) {
          padding-right: 0;
        }
      }
      &.has--slider--flagAlign--left {
        padding-left: 130px;
        grid-template-areas: 'content images';
        grid-template-columns: 2fr 3fr;
        @media only screen and (max-width: $computer-width) {
          padding-left: 0;
        }
      }

      .highlight-image-wrapper {
        grid-area: images;
        img {
          aspect-ratio: var(
            --image-aspect-ratio,
            $sliderImagesAspectRatio
          ) !important;

          @media only screen and (max-width: $computer-width) {
            width: 100%;
          }
        }
      }

      .teaser-item-title {
        position: relative;
        top: 0;
        width: 100%;
        align-self: center;
        padding: 0;
        background: none;
        color: white;
        grid-area: content;
        transform: none;

        @media only screen and (max-width: $computer-width) {
          position: relative;
          width: 100%;
          height: 100%;
          padding: 60px 20px;
          background: $black;
          transform: none;
        }
      }
    }
    .slider-button {
      width: 130px;
      background: rgba(0, 0, 0, 0);
      svg.icon {
        width: 50px !important;
        height: 50px !important;
        padding: 40px;
        background: rgba(0, 0, 0, 0.15);
      }
    }
  }

  &.full-height {
    .teaser-item {
      display: grid;
      aspect-ratio: 16/9;
      background: rgba(0, 0, 0, 0.75);
      grid-template-areas: 'images content';
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;

      @media only screen and (max-width: $computer-width) {
        display: flex;
        padding-right: 0;
        padding-left: 0;
        aspect-ratio: auto;
      }

      &.has--slider--flagAlign--right {
        grid-template-areas: 'images content';
        .teaser-item-title {
          padding-left: 74px; //Adding gap between the image & content
          @media only screen and (max-width: $computer-width) {
            padding-left: 20px;
          }
        }
      }
      &.has--slider--flagAlign--left {
        grid-template-areas: 'content images';
        .teaser-item-title {
          padding-right: 74px; //Adding gap between the image & content
          @media only screen and (max-width: $computer-width) {
            padding-right: 20px;
          }
        }
      }

      .highlight-image-wrapper {
        grid-area: images;

        img {
          aspect-ratio: var(
            --image-aspect-ratio,
            $sliderImagesAspectRatio
          ) !important;

          @media only screen and (max-width: $computer-width) {
            width: 100%;
          }
        }
      }
      .teaser-item-title {
        position: relative;
        top: 0;
        width: 100%;
        align-self: center;
        padding: $spacing-medium 130px;
        background: none;
        color: white;
        grid-area: content;

        transform: translateY(0);

        @media only screen and (max-width: $computer-width) {
          position: relative;
          width: 100%;
          height: 100%;
          padding: 60px 20px;
          background: $black;
          transform: none;
        }
      }
    }
    .slider-button {
      width: 130px;
      background: rgba(0, 0, 0, 0);

      svg.icon {
        width: 50px !important;
        height: 50px !important;
        padding: 40px;
        background: rgba(0, 0, 0, 0.15);
      }
    }
  }
}
