// Block Teaser Standalone
#page-document .block.teaser {
  @include vertical-space-teaser();
}

.blocks-group-wrapper > .block.teaser,
.block-editor-teaser .block.teaser {
  // We want the image to extend in all its container width
  height: 100%;

  &.file-teaser .card .card-inner .image-wrapper {
    img {
      aspect-ratio: var(--file-image-aspect-ratio, $aspect-ratio-A4) !important;
    }
  }

  &.is--last--of--block-type,
  &.next--has--different--backgroundColor {
    .card-inner {
      padding-bottom: 0;
      border-bottom: none;
    }
  }
  &.next--is--__button {
    margin-bottom: 0 !important;
    .card-inner {
      padding-bottom: $spacing-medium;
      border-bottom: 1px solid;
    }
  }
}

// Only bottom border in render, just for top level teasers
.blocks-group-wrapper > .block.teaser {
  .card-inner {
    border-bottom: 1px solid var(--theme-foreground-color, $black);
  }
}

#page-edit .block-editor-teaser.has--backgroundColor--grey {
  background-color: $lightgrey;
}

.file-teaser .headline span:not(:last-child)::after {
  margin: 0 10px;
  content: '|';
}
