.table-of-contents {
  .ui.bulleted.list {
    li {
      line-height: 30px;
      a {
        line-height: inherit;
      }

      &::before {
        color: $blue-for-grey-contrast !important;
      }
    }
  }
}
