#page-document {
  &:not(:first-child) > :first-child {
    padding-top: $color-block-change-vertical-spacing !important;
    @container (max-width: #{$largest-mobile-screen}) {
      padding-top: 60px !important;
    }
  }

  & > :last-child {
    padding-bottom: $color-block-change-vertical-spacing !important;
    @container (max-width: #{$largest-mobile-screen}) {
      padding-bottom: 60px !important;
    }
  }
}

.has--backgroundColor--grey {
  background: $lightgrey;
}

#page-document {
  &.transparent:first-child {
    padding-top: 0;
  }
  .block:first-child h2,
  .block:first-child h2.headline {
    margin-top: 0;
  }
}

// If next block has different bgcolor, cancel all margin-bottom
#page-document .block.next--has--different--backgroundColor {
  margin-bottom: 0 !important;
}

// For grids
#page-document .block.gridBlock {
  &.is--first--of--block-type.previous--has--same--backgroundColor {
    @include grid-block-vertical-spacing-top();
  }
  &.is--last--of--block-type.next--has--same--backgroundColor {
    padding-bottom: $grid-block-vertical-spacing-bottom;
  }
  &.next--is--same--block-type.next--has--same--backgroundColor {
    // We rely on the grid gutter to keep the vertical spacing in case grid + grid
    // So here we cancel the default block margin-bottom
    margin-bottom: 0;
  }

  // If the Grid is the first block after Page title
  h1.documentFirstHeading + & {
    padding-top: 0;
  }
}

// Buttons
#page-document .block.__button.next--has--different--backgroundColor {
  margin-bottom: 0;

  .button.container {
    margin-bottom: 0;
  }
}

// Slider
#page-document .blocks-group-wrapper.grey:has(.block.slider:first-child) {
  padding-top: 0;
  padding-bottom: 0px; // Adjust for the padding from the slider itself
}

#page-document .blocks-group-wrapper.grey .block.slider,
.block-editor-slider.has--backgroundColor--grey {
  .slider-dot:not(.slider-dot--selected)::after {
    background: #fff;
  }
}

// Edit mode adjustments
.block-editor-gridBlock.has--backgroundColor--grey .block h2.headline {
  padding-top: $spacing-xlarge;
}
