#footer {
  padding: 5.5em 2em;
  background-color: $lightgrey;
  text-align: center;

  .ui.container {
    > div {
      font-size: 18px;
      font-weight: $bold;
    }

    ul {
      display: flex;
      justify-content: center;
      margin-top: 1.8em;
      list-style: none;

      li {
        padding: 0 5px;
        border-right: 1px solid #205c90;
        font-size: 18px;

        &:last-of-type {
          border: none;
        }
      }
    }

    .logo {
      margin: 5em 0 1.8em 0;
    }
  }
}
