.header-wrapper .header {
  display: flex;
  flex-direction: column-reverse;

  .logo-nav-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 2;
    padding-top: 2rem;
    padding-bottom: 1rem;
    align-items: baseline;

    .logo {
      align-self: center;
      padding-left: 50px;
      z-index: 11;

      @media only screen and (max-width: $tablet-breakpoint) {
        padding-left: 0;
        margin-left: 0.25rem;
        z-index: auto;
      }
    }

    .navigation {
      flex-grow: 2;
      align-self: center;
      display: flex;
      justify-content: center;

      .desktop.menu {
        display: flex;
        justify-content: flex-end;

        a.item {
          padding: 0 5px;
          margin: 0 5px;
          color: $black;
          font-size: 18px;
          font-weight: 600;
          line-height: 24px;
        }
      }

      .mobile-menu {
        .mobile-menu-nav {
          > div {
            display: flex;
            flex-direction: column;
          }

          a.item {
            width: 100%;
            padding: 2rem 1.2rem 1.5rem 1.2rem;
            color: $black;
            font-size: 18px;

            &.active {
              border-bottom: 4px solid $black;
            }
          }
        }
      }
    }
  }
  .search-wrapper {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 50px;

    .search {
      .searchbox {
        display: flex;

        input {
          border: none;

          &:focus {
            outline: none;
          }
        }
      }

      .search-button {
        text-align: right;
      }

      button {
        border: none;
        width: 75px;
        height: 75px;
        background-color: transparent;
        border-radius: 50%;
        transition: background-color 200ms ease-in-out, color 300ms ease-in-out;

        svg {
          transition-property: transform;
          transition: transform 300ms ease-in-out;
        }

        &:hover {
          cursor: pointer;
          background-color: $darkGrey;
          color: $white;
          
          svg {
            transform: scale(0.75);
          }
        }
        &:active {
          transform: scale(0.85);
          transition-property: transform;
          transition-duration: 100ms;
        }
      }

      .search-bar {
        position: absolute;
        padding-top: 2rem;
        z-index: 10;
        top: -135px;
        left: 0;
        width: 100%;
        height: 90px;
        background-color: $lightgrey;
        transition-property: top height;
        transition: top 500ms ease-in-out, height 600ms ease-in-out;

        &.active {
          top: 0;
          height: 190px;

          @media only screen and (max-width: $largest-mobile-screen) {
            height: 235px;
          }
        }

        .ui.container {
          display: flex;
          height: 100%;
          align-items: center;
          justify-content: center;

          form {
            width: 100%;

            .searchbox {
              justify-content: space-between;
              border-left: none;
              border-bottom: 2px solid $black;
              margin-left: 12.6rem;
              padding-bottom: 0.5rem;
              padding-top: 0;

              @media only screen and (max-width: $tablet-breakpoint) {
                margin-left: 0.5rem;
                padding-top: 2rem;
              }
              @media only screen and (max-width: $large-monitor-breakpoint) {
                padding-top: 0;
              }

              input {
                width: 70%;
                overflow: hidden;
                margin-right: 1rem;
                padding-left: 0;
                background-color: $lightgrey;
                color: $black;
                font-size: 1.5rem;

                &::placeholder {
                  color: $black;
                  opacity: 0.5;
                }
              }

              button {
                padding: 10px;
                margin-right: 7px;
                width: 75px;
                height: 75px;

                &:hover {
                  background-color: $darkGrey;
                  border-radius: 50%;
                  svg {
                    fill: $white !important;
                  }
                }

                svg {
                  fill: $black !important;
                }
              }
            }
          }
        }
      }
    }
  }

  .tools-wrapper {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 16px;

    .language-selector {
      padding-left: 40px;
    }

    .language-selector a {
      text-transform: uppercase;
    }
    .tools {
      display: flex;
    }
    .tools a {
      color: $black;
      font-size: 14px;
      text-align: center;
      margin-right: 10px;
    }

    .tools a::after {
      padding-right: 0;
      padding-left: 10px;
      content: '|';
      font-size: 1rem;
    }

    .tools a:last-child:after {
      padding-right: 5px;
      padding-left: 5px;
      content: '';
    }

    .tools .anontools {
      display: flex;
      margin-right: 10px;

      a {
        color: $black;
        margin-right: 0;
      }

      > div {
        &:first-of-type::after {
          content: '|';
          font-size: 1rem;
        }
      }
    }
  }
}
