:root {
  --layout-container-width: 1440px;
  --default-container-width: 940px;
  --narrow-container-width: 620px;
}

$layout-container-width: 1440px;
$default-container-width: 940px;
$narrow-container-width: 620px;

@mixin narrow-container-width() {
  max-width: var(--narrow-container-width);
  margin-right: auto;
  margin-left: auto;
}

@mixin default-container-width() {
  max-width: var(--default-container-width);
  margin-right: auto;
  margin-left: auto;
}

@mixin layout-container-width() {
  max-width: var(--layout-container-width);
  margin-right: auto;
  margin-left: auto;
}

// One still cannot use variables or CSS properties directly on @container queries
@mixin adjustMarginsToContainer($width) {
  @container (max-width: #{$width - 1}) {
    margin-right: 2rem;
    margin-left: 2rem;
  }
}

// Container widths for configurable via block styling wrapper
// TODO: consider renaming "align" property to something more meaningful
.has--align--center {
  @include narrow-container-width();
}

.has--align--wide {
  @include default-container-width();
}

.has--align--full {
  @include layout-container-width();
}

// Container definitions for elements
#page-document > * {
  @include layout-container-width();
}

#page-history > * {
  @include layout-container-width();
}

.header-wrapper .header {
  @include layout-container-width();
  @include adjustMarginsToContainer($layout-container-width);
}

// Content Layout Styling
#page-document {
  & > h2,
  & > h3,
  & > h4,
  & > h5,
  & > h6,
  & > ul,
  & > ol,
  & > p,
  & > span,
  & > .block.image.align.left.medium,
  & > .block.image.align.left.small,
  & > .block.image.align.right.medium,
  & > .block.image.align.right.small,
  .block.image.align.center figure,
  .event-details,
  .download-event,
  .block.separator.has--align--left .line,
  .block.separator.has--align--center .line {
    @include narrow-container-width();
    @include adjustMarginsToContainer($narrow-container-width + 2 * 36px);
  }

  & > .block.image.align.left,
  & > .block.image.align.right,
  & > .block.image.align.wide figure,
  & > .block.__button,
  & > .block.listing .listing-item,
  & > .block h2.headline,
  & > .block.heading .heading-wrapper,
  & > .block.separator .line,
  & > .block.teaser .grid-teaser-item.default,
  & > .slate blockquote {
    @include default-container-width();
  }

  & > h1.documentFirstHeading,
  & > .block.teaser,
  & > .block.separator.has--align--full .line,
  & > .block.image.align.full,
  & > .block.video.align.full,
  & > .block.maps.align.full {
    @include layout-container-width();
  }

  & > h1.documentFirstHeading {
    @include adjustMarginsToContainer($layout-container-width);
  }
}

// Setting a default, for all blocks
#page-add,
#page-edit {
  [class*='block-editor-'] {
    @include layout-container-width();
    @include adjustMarginsToContainer($layout-container-width);
  }
}

// Add/Edit views
#page-add,
#page-edit {
  .block.slate .slate-editor,
  .block-editor-image.left.medium,
  .block-editor-image.left.small,
  .block-editor-image.right.medium,
  .block-editor-image.right.small,
  .block-editor-image.center figure,
  .block-editor-separator.has--align--left .block.separator,
  .block-editor-separator.has--align--center .block.separator {
    @include narrow-container-width();
    @include adjustMarginsToContainer($narrow-container-width);
  }

  .block-editor-image.left.large,
  .block-editor-image.right.large,
  .block-editor-image.wide figure, // Wide images are always large
  .block-editor-image.wide.large figure,
  .block-editor-__button .button.container,
  .block.introduction .slate-editor,
  .block.heading .heading-wrapper,
  .block-editor-listing .items,
  .block-editor-listing .listing.message,
  .block-editor-separator.has--align--full .block.separator,
  .block-editor-separator .block.separator.has--align--full,
  .block.teaser.has--align--center,
  .block-editor-teaser .grid-teaser-item.default {
    @include default-container-width();
    @include adjustMarginsToContainer($default-container-width);
  }

  .block-editor-title,
  .block-editor-slate,
  .block-editor-image,
  .block-editor-slider,
  .block-editor-teaser,
  .block-editor-separator.has--align--left {
    @include layout-container-width();
    @include adjustMarginsToContainer($layout-container-width);
  }
}

// Grids adjustments (has to be paired with collections/grid.variables)
// TODO: Move to our own grid component
#page-document > {
  .block.__grid,
  .block.__grid .ui.stackable {
    @include default-container-width();
    max-width: calc(var(--default-container-width) + 1rem);
  }
}

// handlers adjustments
body.has-toolbar.has-sidebar .drag.handle.wrapper {
  margin-left: -30px !important;
}

body.has-toolbar.has-sidebar .block .ui.basic.button.delete-button {
  margin-right: -30px !important;
}

.contenttype-file {
  a {
    text-decoration: underline;
  }
}

// Listing Block
.block.listing.default {
  .listing-item {
    a {
      .listing-body {
        h2 {
          margin-top: 0;
          margin-bottom: 15px;
          color: $black;
          font-size: 30px;
          font-weight: 700;
        }

        p {
          margin-bottom: 0;
          font-size: 18px;
          font-weight: 300;
        }

        p:empty {
          display: none;
        }
      }
    }
  }
}

.block.listing {
  .listing-item {
    padding-bottom: 25px;
    border-bottom: 1px solid $black;
    a {
      .listing-body {
        h2 {
          color: $black;
          font-size: 30px;
          font-weight: 700;
          line-height: 36px;
        }
      }
    }
  }
}
// summary listing block
.block.listing.summary .listing-item {
  a {
    img {
      width: 300px;
      object-fit: cover;
    }

    h3 {
      margin-bottom: 15px;
      color: $black;
    }
  }
}
// Image-gallery Listing block
.image-gallery {
  .image-gallery-content {
    &.fullscreen {
      .image-gallery-slide-wrapper {
        .ui.basic.primary.button.image-gallery-icon {
          &.image-gallery-left-nav,
          &.image-gallery-right-nav {
            top: 50%;
          }

          &.image-gallery-left-nav {
            left: 0px;
          }

          &.image-gallery-right-nav {
            right: 0px;
          }
        }

        .image-gallery-slides {
          .image-gallery-slide {
            height: calc(100vh - 80px);

            .image-gallery-image {
              .image-wrapper {
                img {
                  background: #000 !important;
                }

                > img {
                  height: 0;
                  flex: 1;
                }

                figcaption {
                  padding: 0 15px;
                  color: #fff;

                  a {
                    color: $secondary-blue3;
                  }
                }

                .ui[class*='16:9'].embed {
                  width: fit-content;
                  height: 100%;
                  padding-bottom: 0;
                  margin: auto;
                  aspect-ratio: 16 / 9;
                }
              }
            }
          }
        }
      }
    }

    &.bottom.fullscreen {
      .ui.basic.primary.button.image-gallery-icon.image-gallery-play-button,
      .ui.basic.primary.button.image-gallery-icon.image-gallery-fullscreen-button {
        svg {
          fill: white !important;
        }

        svg > path {
          fill: white;
        }
      }
    }

    .image-gallery-thumbnails-wrapper {
      width: 35%;
      margin: 0 auto;

      @media screen and (max-width: 768px) {
        display: none;
      }

      .image-gallery-thumbnails-container {
        @media only screen and (max-width: 919px) {
          white-space: unset;
        }

        .image-gallery-thumbnail {
          height: 70px;
          cursor: pointer;

          & + .image-gallery-thumbnail {
            margin-left: 10px;
          }

          .image-gallery-thumbnail-inner {
            height: 100%;

            img {
              height: 100%;
              object-fit: none;
              object-fit: contain;
            }
          }

          &.active,
          &:hover {
            border: 3px solid #000;
          }
        }
      }
    }

    .image-gallery-slide-wrapper {
      .ui.basic.primary.button.image-gallery-icon {
        border: none;
        border-radius: 0;
        box-shadow: 0, 0, 0, 0 !important;
        filter: none;

        &.image-gallery-left-nav,
        &.image-gallery-right-nav {
          top: 265px;
          width: 200px;
          height: 60%;

          @media screen and (max-width: 768px) {
            top: 95px;
          }

          &:focus {
            svg {
              box-shadow: 0px 0px 0px 0.11111111rem #006188 inset !important;
            }
          }
        }

        &.image-gallery-left-nav {
          left: -68px;
          @media screen and (max-width: 768px) {
            left: 3px;
          }

          svg {
            padding: 8px;
            padding-right: 0;
            padding-left: 10px;
          }
        }

        &.image-gallery-right-nav {
          right: -82px;

          svg {
            padding: 8px;
            padding-right: 10px;
            padding-left: 0;
            margin-left: 3px;
            float: right;
          }
          @media screen and (max-width: 768px) {
            right: -10px;
          }
        }

        &.image-gallery-play-button {
          right: 48px;
          left: unset;
        }

        &.image-gallery-play-button,
        &.image-gallery-fullscreen-button {
          bottom: -70px;
          padding-left: 8px;

          @media screen and (max-width: 768px) {
            display: none;
          }
        }
      }

      .image-gallery-slides {
        .image-gallery-slide {
          .image-gallery-image {
            display: flex;
            height: 100%;
            max-height: unset;
            justify-content: center;

            .image-wrapper {
              position: relative;
              overflow: hidden;
              width: 100%;
              height: 100%;
              margin: 0 auto;

              img {
                width: 100%;
                height: 100%;
                aspect-ratio: 16/9;
                object-fit: contain;
              }

              figcaption {
                min-height: 135px;
              }

              .ui.embed {
                background: none !important;
              }

              .ui.embed > .icon:after {
                background: none !important;
              }
            }
          }

          .image-wrapper video {
            width: 100%;
            aspect-ratio: 16/9;
            object-fit: cover;
          }

          .description {
            margin-top: 25px;
            margin-bottom: 10px;
            font-size: 14px;
            line-height: 18px;

            .title {
              color: $primary-darkgrey;
              font-weight: 700;
            }

            p {
              color: #878786;
            }
          }

          .credit-download {
            display: flex;
            justify-content: space-between;
            margin-bottom: 35px;
            color: #878786;
            font-size: 14px;
            font-weight: 300;
            line-height: 18px;

            .credit {
              display: flex;
            }
          }

          p {
            text-align: left;
            white-space: pre-wrap;
          }
        }
      }
    }
  }
}
