.block.separator {
  top: unset;
  height: unset;
  margin: 0 auto;
  clear: both;

  &:not(.inner):not([role='presentation']) {
    padding: 25px 0 !important;
  }

  &::after {
    display: none !important;
  }

  .line {
    width: unset;
    height: unset;

    &:not(.inner)::after {
      width: unset;
      border-top: 1px solid $black;
      margin-top: -1px;
    }
  }

  &.has--align--left {
    .line {
      margin-left: 0;

      &::after {
        width: 165px;
      }
    }
  }

  &.has--align--center {
    clear: both;

    .line {
      &::after {
        @include narrow-container-width();
        
        @media only screen and (max-width: 650px) {
          margin-left: 2rem !important;
          margin-right: 2rem !important;
        }
      }
    }
  }

  &.has--align--full {
    clear: both;
   

    .line {
      margin-left: auto !important;
      @media only screen and (min-width: $large-monitor-width) {
        margin-left: 0 !important;
      }

      &::after {
        
        @media only screen and (min-width: $large-monitor-width) {
          width: $layout-container-width !important;
          margin-left: 0 !important;
        }
        @media only screen and (max-width: $large-monitor-width) {
          @include default-container-width();
        }
        @media only screen and (max-width: 950px) {
          @include narrow-container-width();
        
          margin-left: auto !important;
          margin-right: auto !important;
        }
        @media only screen and (max-width: 640px) {
          @include narrow-container-width();
        
          margin-left: 1rem !important;
          margin-right: 1rem !important;
        }
          
        
      }
    }
  }

  &.has--noLine--true {
    .line::after {
      display: none;
    }
  }
}

.block-editor-separator {
  clear: both;
  &.has--align--left .block.separator {
    .line {
      margin-left: 0;

      &::after {
        width: 165px;
      }
    }
  }

  &.has--align--center .block.separator {
    @include narrow-container-width();
  }
}
