.block.separator {
  top: unset;
  height: unset;
  margin: 0 auto;
  clear: both;

  &:not(.inner):not([role='presentation']) {
    padding: 25px 0 !important;
  }

  &::after {
    display: none !important;
  }

  .line {
    width: unset;
    height: unset;

    &:not(.inner)::after {
      width: unset;
      border-top: 1px solid $black;
      margin-top: -1px;
    }
  }

  &.has--align--left {
    .line {
      margin-left: 0;

      &::after {
        width: 165px;
      }
    }
  }

  &.has--align--center {
    .line {
      width: $narrow-container-width;
    }
  }

  &.has--align--full {
    .line {
      margin-left: 0 !important;

      &::after {
        width: $layout-container-width;
      }
    }
  }

  &.has--noLine--true {
    .line::after {
      display: none;
    }
  }
}

.block-editor-separator {
  clear: both;
  &.has--align--left .block.separator {
    .line {
      margin-left: 0;

      &::after {
        width: 165px;
      }
    }
  }

  &.has--align--center .block.separator {
    width: $narrow-container-width;
  }
}
