.section-sitemap {
  #page-sitemap {
    h1 {
      @include page-title();
    }

    ul {
      li.with-children {
        a {
          font-weight: $bold;
          line-height: 45px;
          text-decoration: none;
        }
        ul {
          li {
            a {
              font-weight: $regular;
            }
          }
        }
      }
    }
  }
}
