// Remove when https://github.com/plone/volto/pull/4141 is merged
// and released
.ui.basic.button.block-add-button {
  &.new-add-block {
    transform: none;
  }
}

.blocks-chooser {
  position: static;

  &.new-add-block {
    transform: none;
  }
}
