body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
  font-family: $page-font;
  font-style: normal;
  @include body-text();
}

strong {
  @include add(weight, bold);
}

em,
em span span {
  font-style: italic;
}

#page-document {
  blockquote {
    padding: 18px 40px;
  }
}

h1.documentFirstHeading {
  border: none;
  @include page-title();
  margin-bottom: 4.5rem;
  span {
    border: none;
    @include page-title();
  }

  &::before {
    display: none;
  }
}

// Block Title
.block h2.headline {
  @include block-title();
}

// Heading block
.heading-wrapper h2 {
  padding-top: 4rem;
  padding-bottom: 2rem;
  @include block-title();
}
.heading-wrapper h3 {
  padding-top: 3rem;
  padding-bottom: 1rem;
  font-size: 42px;
  font-weight: $light;
  line-height: 48px;
}

// Slate headings
h2 {
  @include text-heading-h2();
  span {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
  }
}
h3 {
  @include text-heading-h3();
  span {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
  }
}
h4 {
  @include text-heading-h4();
  span {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
  }
}

// Head-title
.head-title,
.head-title span {
  @include body-text-bold();
  padding-bottom: 10px;
  letter-spacing: 1px;
  text-transform: uppercase !important;
}

#page-add,
#page-edit {
  .head-title,
  .head-title span {
    user-select: none;
  }
}

@font-face {
  font-family: 'Inter';
  font-style: thin;
  font-weight: 100;
  src: local('Inter');
  src: url('./fonts/Inter-Thin.ttf');
  src: url('./fonts/Inter-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  // font-style: extra-light;
  font-weight: 200;
  src: local('Inter');
  src: url('./fonts/Inter-ExtraLight.ttf');
  src: url('./fonts/Inter-ExtraLight.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: light;
  font-weight: 300;
  src: local('Inter');
  src: url('./fonts/Inter-Light.ttf');
  src: url('./fonts/Inter-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal; //regular
  font-weight: 400;
  src: local('Inter');
  src: url('./fonts/Inter-Regular.ttf');
  src: url('./fonts/Inter-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: medium;
  font-weight: 500;
  src: local('Inter');
  src: url('./fonts/Inter-Medium.ttf');
  src: url('./fonts/Inter-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  // font-style: semi-bold;
  font-weight: 600;
  src: local('Inter');
  src: url('./fonts/Inter-SemiBold.ttf');
  src: url('./fonts/Inter-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: bold;
  font-weight: 700;
  src: local('Inter');
  src: url('./fonts/Inter-Bold.ttf');
  src: url('./fonts/Inter-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  // font-style: extra-bold;
  font-weight: 800;
  src: local('Inter');
  src: url('./fonts/Inter-ExtraBold.ttf');
  src: url('./fonts/Inter-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  // font-style: black;
  font-weight: 900;
  src: local('Inter');
  src: url('./fonts/Inter-Black.ttf');
  src: url('./fonts/Inter-Black.ttf') format('truetype');
}
