body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
span,
div {
  font-family: $page-font;
  font-style: normal;
  font-weight: $light;
}

h1.documentFirstHeading {
  border: none;
  font-size: 64px;
  font-weight: $bold;
  line-height: 72px;
  span {
    border: none;
    font-size: 64px;
    font-weight: $bold;
    line-height: 72px;
  }

  &::before {
    display: none;
  }
}

// Heading block
.heading-wrapper h2 {
  font-weight: $light;
  font-size: 52px;
  line-height: 60px;
  padding-top: 4rem;
  padding-bottom: 2rem;
}
.heading-wrapper h3 {
  font-weight: $light;
  font-size: 42px;
  line-height: 48px;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

// Slate headings
h2 {
  font-weight: $bold;
  font-size: 48px;
  line-height: 56px;
  padding-top: 2.5rem;
  padding-bottom: 1rem;
  span {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
  }
}
h3 {
  font-weight: $bold;
  font-size: 36px;
  line-height: 42px;
  padding-top: 1.5rem;
  padding-bottom: 0.3rem;
  span {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
  }
}

@font-face {
  font-family: 'Inter';
  font-style: thin;
  font-weight: 100;
  src: local('Inter');
  src: url('./fonts/Inter-Thin.ttf');
  src: url('./fonts/Inter-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  // font-style: extra-light;
  font-weight: 200;
  src: local('Inter');
  src: url('./fonts/Inter-ExtraLight.ttf');
  src: url('./fonts/Inter-ExtraLight.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: light;
  font-weight: 300;
  src: local('Inter');
  src: url('./fonts/Inter-Light.ttf');
  src: url('./fonts/Inter-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal; //regular
  font-weight: 400;
  src: local('Inter');
  src: url('./fonts/Inter-Regular.ttf');
  src: url('./fonts/Inter-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: medium;
  font-weight: 500;
  src: local('Inter');
  src: url('./fonts/Inter-Medium.ttf');
  src: url('./fonts/Inter-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  // font-style: semi-bold;
  font-weight: 600;
  src: local('Inter');
  src: url('./fonts/Inter-SemiBold.ttf');
  src: url('./fonts/Inter-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: bold;
  font-weight: 700;
  src: local('Inter');
  src: url('./fonts/Inter-Bold.ttf');
  src: url('./fonts/Inter-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  // font-style: extra-bold;
  font-weight: 800;
  src: local('Inter');
  src: url('./fonts/Inter-ExtraBold.ttf');
  src: url('./fonts/Inter-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  // font-style: black;
  font-weight: 900;
  src: local('Inter');
  src: url('./fonts/Inter-Black.ttf');
  src: url('./fonts/Inter-Black.ttf') format('truetype');
}
