// // Semantic UI related - Sync'd
// Colors
$text-color: #000;
$font-size: 18px;
$line-height: 24px;

// Headers font size
$heading1: 60px;
$heading2: 30px;
$heading3: 24px;

$block-title-h2: 42px;

$heading-title-top-spacing: 100px;
$heading-title-bottom-spacing: 75px;
$padding-colored-pills: 20px;

$heading-text-top-spacing: 50px;
$heading-text-bottom-spacing: 25px;

// Fonts
$custom-fontname: 'Inter';
$page-font-template: $custom-fontname, sans-serif;
$page-font: var(--custom-main-font, $page-font-template);
$header-font: var(--custom-headers-font, $page-font);

// Breakpoints
// Mobile / Tablet portrait < 769 | Tablet landscape / Small desktop < 941 | Computer desktop < 1440 | Large Monitor > 1440
$largest-mobile-screen: 768px; // not finished in `-width` for historical reasons (SemanticUI naming)
$tablet-breakpoint: 769px;
$computer-width: 940px;
$computer-breakpoint: 941px;
$large-monitor-width: 1440px;
$large-monitor-breakpoint: 1441px;

// Rest of theme variables

:root {
  --text-color: #666;
  --text-size: 18px;
}

// Colors
$white: #fff;
$veryLightGrey: #eee;
$darkGrey: #555555;
$black: #000;
$grey: #666;
$lightgrey: #ecebeb;
$blue-for-grey-contrast: #0070a2;
$brown: #826a6a;
$blueArctic: #e2f1fd;
$greySnow: #f3f5f7;
$greySmoke: #e4e8ec;
$darkBlue: #023d6b;
$secondary-grey: #ececec;

// Image Aspect Ratio
$aspect-ratio: var(--image-aspect-ratio, 16/9);

// Weights
$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$bolder: 900;

// Vertical Spacing
$block-vertical-space: 25px;

// Change of color
$color-block-change-vertical-spacing: 100px;

// Grids
$grid-block-vertical-spacing-top: 100px;
$grid-block-vertical-spacing-bottom: 100px;

// Patterns
@mixin font-xs-b() {
  font-size: 12px;
  font-weight: $bold;
  line-height: 16px;
}
@mixin font-s-b() {
  font-size: 14px;
  font-weight: $bold;
  line-height: 18px;
}
@mixin font-s() {
  font-size: 14px;
  font-weight: $light;
  line-height: 18px;
}
@mixin font-m() {
  font-size: 18px;
  font-weight: $light;
  line-height: 24px;
}
@mixin font-m-b() {
  font-size: 18px;
  font-weight: $bold;
  line-height: 24px;
}
@mixin font-l() {
  font-size: 24px;
  font-weight: $light;
  line-height: 33px;
}
@mixin font-l-b() {
  font-size: 24px;
  font-weight: $bold;
  line-height: 30px;
}
@mixin font-xl() {
  font-size: 30px;
  font-weight: $light;
  line-height: 36px;
}
@mixin font-xl-b() {
  font-size: 30px;
  font-weight: $bold;
  line-height: 36px;
}
@mixin font-2xl-b() {
  font-size: 36px;
  font-weight: $bold;
  line-height: 44px;
}
@mixin font-3xl-b() {
  font-size: 48px;
  font-weight: $bold;
  line-height: 56px;
}
