@import '../typography';
@import '../layout';
@import '../utils';

@import '../atoms/container';

@import 'modals/header';
@import 'modals/footer';
@import 'modals/breadcrumbs';
@import 'blocks/teaser';
@import 'blocks/slider';

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
span,
div {
  font-family: @pageFont;
  font-style: normal;
  font-weight: @light;
}
