.mobile-sticky-menu {
  position: fixed;
  z-index: 100;
  bottom: 0;
  display: flex;
  display: none;
  width: 100%;
  height: 100px;
  flex-direction: column;
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 1px 2px 0 #c7d5d8;
  @media only screen and (max-width: $narrow-container-width) {
    display: block;
  }

  .embla {
    position: relative;
    --slide-size: 33%;
    .embla__viewport {
      position: relative;
      z-index: 2; /* higher than embla__button */
      display: inline-block;
      overflow: hidden;

      .embla__container {
        display: flex;
        height: 100px;
        touch-action: pan-y pinch-zoom;
        touch-action: pan-x;

        .embla__slide {
          min-width: 0;
          flex: 0 0 var(--slide-size);
          padding: 0px;
          margin: 0px;
          transform: translate3d(0, 0, 0);

          .image-wrapper {
            display: block;
            width: 65px;
            height: 65px;
            img {
              display: block;
              width: 100%;
              height: 100%;
            }
          }

          li {
            list-style: none;
          }

          span {
            display: block;
            color: #000000;
            font-size: 10px;
            font-weight: 700;
            line-height: 12px;
          }

          a {
            display: flex;
            flex-flow: column;
            align-items: center;
            padding: 5px 10px 15px 10px;
          }
        }
      }
    }
  }

  .embla__controls {
    position: absolute;
    top: 0;
    top: 50%;
    display: block;
    width: 100%;
    transform: translateY(-50%);
    .embla__buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.6rem;

      .embla__button {
        z-index: 1;
        display: inline-flex;
        width: 3.6rem;
        height: 3.6rem;
        align-items: center;
        justify-content: center;
        padding: 0;
        border: 0;
        border-radius: 50%;
        margin: 0;
        -webkit-appearance: none;
        appearance: none;
        background-color: transparent;
        cursor: pointer;
        text-decoration: none;
        touch-action: manipulation;
      }
    }
  }
}
