.mobile-sticky-menu {
  position: fixed;
  z-index: 100;
  bottom: 0;
  display: flex;
  display: none;
  width: 100%;
  height: 100px;
  flex-direction: column;
  background-color: rgba(106, 106, 106);
  @media only screen and (max-width: $narrow-container-width) {
    display: block;
  }

  .embla {
    position: relative;
    --slide-size: 33%;

    .embla__button {
      display: flex;
      height: 100px;
      align-items: center;
      padding: 0px;
      border: none;
      background-color: transparent;
      color: $white;
      cursor: pointer;
      font-size: 30px;
    }
    .embla__button--prev {
      position: absolute;
      top: 0px;
      left: -5px;
    }
    .embla__button--next {
      position: absolute;
      top: 0px;
      right: -5px;
    }
    .embla__viewport {
      position: relative;
      display: inline-block;
      overflow: hidden;
      width: 85%;

      .embla__container {
        display: flex;
        height: 100px;
        touch-action: pan-y pinch-zoom;
        touch-action: pan-x;

        .embla__slide {
          min-width: 0;
          flex: 0 0 var(--slide-size);
          padding: 0px;
          margin: 0px;
          transform: translate3d(0, 0, 0);

          .image-wrapper {
            display: block;
            width: 65px;
            height: 65px;
            img {
              display: block;
              width: 100%;
              height: 100%;
            }
          }

          li {
            list-style: none;
          }

          span {
            display: block;
            color: $white;
            font-size: 10px;
            font-weight: 700;
            line-height: 12px;
          }

          a {
            display: flex;
            flex-flow: column;
            align-items: center;
            padding: 5px 10px 15px 10px;
          }
        }
      }
    }
  }
}
