.card-wrapper {
  position: relative;
  transition: box-shadow 0.15s ease;
}

.card-wrapper:hover,
.card:focus-within {
  cursor: pointer;
}

.card-wrapper .card a {
  inset: 0; /* top:0 right:0 bottom:0 left:0 */
  text-decoration: none; /* remove default underline */
}

.card-wrapper .card .content,
.card-wrapper .card .content * {
  user-select: text; /* explicit for clarity */
  color: var(--theme-foreground-color);
}

.card {
  .image-wrapper {
    width: 100%;

    img {
      display: block;
      aspect-ratio: var(--image-aspect-ratio, $aspect-ratio) !important;
    }
  }

  .content {
    padding-top: 40px;
    padding-bottom: 40px;

    .headline {
      margin-bottom: 20px;
      letter-spacing: 1px;
      text-transform: uppercase;
      @include headtitle1();
    }
    h2 {
      margin-top: 0;
      margin-bottom: 20px;
      @include text-heading-h2();
      @container (max-width: #{$largest-mobile-screen}) {
        @include text-heading-h3();
        margin-bottom: 20px;
      }
    }
    p {
      margin: 0;
      @include body-text();

      // Add margin-bottom to description if actions-wrapper is not empty
      &:not(:has(+ :empty)) {
        margin-bottom: 40px;
      }
    }

    .actions-wrapper {
      .button {
        @include body-text-bold();
        padding: 8px 20px;
        border: 1px solid $black;
        border-color: var(--theme-foreground-color);
        border-radius: unset;
        margin: 0;
        background: none;
        background-color: var(--theme-color);
        text-decoration: none;
        transition: all 0.15s ease-in-out;

        &:hover,
        &:active,
        &:focus {
          border-color: var(--theme-foreground-color);
          background-color: var(--theme-foreground-color);
          color: var(--theme-color);
        }
      }
    }
  }
}

// Variants
// Contained blocks
.contained {
  .card-wrapper {
    .card {
      background: var(--theme-high-contrast-color);
      .content {
        padding-right: 20px;
        padding-left: 20px;
      }
    }
  }
}

// Not contained blocks
:not(.contained) {
  &.has--align--left,
  &.has--align--right {
    .card-wrapper .card {
      display: flex;

      .image-wrapper {
        // width: 50%;
        flex: 1 1 50%;

        @media only screen and (max-width: $largest-mobile-screen) {
          margin-right: 0 !important;
          margin-left: 0 !important;
          margin-bottom: $spacing-small;
        }
      }

      .content {
        // width: 50%;
        flex: 1 1 50%;
        padding: 0;
      }
    }
  }

  &.has--align--left .card-wrapper .card {
    .image-wrapper {
      margin-right: $spacing-small;
    }
  }

  &.has--align--right .card-wrapper {
    .card {
      flex-direction: row-reverse;
      .image-wrapper {
        margin-left: $spacing-small;
      }
    }
  }
}

@container (max-width: #{$largest-mobile-screen}) {
  .card-wrapper {
    .has--align--left:not(.contained) &,
    .has--align--right:not(.contained) & {
      .card {
        display: block;
      }
      .image-wrapper {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }
}

// Heading sizes
@container (min-width: #{$largest-mobile-screen}) {
  .card {
    .content {
      .one & h2 {
        margin-bottom: $spacing-medium !important;
        @include text-heading-h2();
      }
      .two & h2,
      .three & h2 {
        @include text-heading-h3();
      }
      .four & h2 {
        @include text-heading-h4();
      }
    }
  }
}

// Listing
.card {
  .card-listing & .card-wrapper {
    display: flex;

    .image-wrapper {
      // width: 50%;
      flex: 0 1 220px;
      margin-right: $spacing-small;

      @media only screen and (max-width: $largest-mobile-screen) {
        margin-right: 0;
        margin-bottom: $spacing-small;
      }
    }

    .content {
      // width: 50%;
      flex: 1 1 50%;
      padding: 0;
    }
  }
}
