.card {
  // Person teaser
  .person-teaser.has--align--left:not(.contained) &,
  .has--align--left:not(.contained) .person-teaser &,
  .has--align--center:not(.contained) .person-teaser &,
  .person-teaser.has--align--center:not(.contained) &,
  .has--align--right:not(.contained) .person-teaser &,
  .person-teaser.has--align--right:not(.contained) & {
    .card-inner {
      .image-wrapper {
        --person-image-max-width: 220px;
        --person-image-max-height: 285px;
        overflow: hidden;
        aspect-ratio: 4 / 5;
        block-size: auto; // derived from `aspect-ratio`

        /* We allow the browser to adjust the real size within the maximums without
         distorting the aspect ratio */
        inline-size: 100%;
        max-block-size: var(--person-image-max-height);
        max-inline-size: var(--person-image-max-width);

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: top center;
        }
      }
    }

    .card-summary {
      align-self: center;

      .description {
        margin-bottom: $spacing-small;
      }
    }
  }

  .person-teaser & {
    .card-summary {
      .description {
        margin-bottom: $spacing-small;
      }
    }
  }

  // Teaser (standalone) top
  .has--align--center:not(.contained) .person-teaser &,
  .person-teaser.has--align--center:not(.contained) & {
    width: calc(var(--default-container-width) / 2);

    .image-wrapper {
      margin: 0 auto;
    }
    .card-summary {
      padding-right: 0px;
      padding-left: 0px;
      text-align: center;
    }

    .summary-extra-info,
    .summary-room-phone {
      justify-content: center;
    }
  }

  // Teaser in Grid
  .contained.person-teaser & {
    // Exploration for rounded images in person-teasers
    // --person-image-height: auto;
    // --person-image-border-radius: 10000px;
    // --person-image-aspect-ratio: 1/1;
    .image-wrapper {
      --person-image-max-width: 220px;
      --person-image-max-height: 285px;
      overflow: hidden;
      margin: 0 auto;
      aspect-ratio: 4 / 5;
      block-size: auto; // derived from `aspect-ratio`

      /* We allow the browser to adjust the real size within the maximums without
       distorting the aspect ratio */
      inline-size: 100%;
      max-block-size: var(--person-image-max-height);
      max-inline-size: var(--person-image-max-width);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top center;
      }
    }
  }

  .two .contained.person-teaser & {
    .image-wrapper {
      --person-image-max-width: 175px;
    }
  }

  .three .contained.person-teaser &,
  .four .contained.person-teaser & {
    .image-wrapper {
      --person-image-max-width: 138px;
    }
  }
}

// One column exception for contained person-teasers
.one .contained.person-teaser {
  width: calc(var(--default-container-width) / 2);

  .column & {
    align-items: center;
  }
}

.one .column:has(.contained.person-teaser) {
  align-items: center;
}

// Three column exception for contained person-teasers
.three .contained.person-teaser,
.four .contained.person-teaser {
  .summary-room-phone {
    flex-direction: column;

    .summary-extra-info {
      margin-bottom: 0;
    }
  }
}

// contained person-teasers do not have background color, so we need to set it to --theme-color
body .block.gridBlock .block.teaser.contained.person-teaser,
body .block.gridBlock .block.teaser.contained.person-teaser .card-inner {
  background: var(--theme-color);
}

// contained person-teasers do not have background color, so we need to remove the padding
// to snap to the default container width
.contained.person-teaser {
  .card-summary {
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
  }

  .summary-extra-info,
  .summary-room-phone {
    justify-content: center;
  }
}

.summary-extra-info {
  display: flex;
  align-items: center;
  margin-bottom: $spacing-small;
}

.summary-room-phone {
  display: flex;
  gap: $spacing-small;
}

// One person teaser in Grid, edit mode
.block.gridBlock .one .cell-wrapper:has(.person-teaser) {
  max-width: var(--default-container-width) / 2;
  margin-right: auto;
  margin-left: auto;
}

// Listings (no card)
.block.listing {
  .listing-item.person-listing {
    &,
    & a {
      align-items: center;
    }

    h2,
    h3 {
      margin-bottom: $spacing-small !important;
    }

    img {
      aspect-ratio: initial !important;
    }
  }
}

// Person in search block
.block.search.summary .listing-item.person-listing .listing-body {
  align-self: center;
}

.block.search.summary .listing-item.person-listing img,
.block-editor-search.summary .listing-item.person-listing img {
  aspect-ratio: initial !important;
}
