.card {
  .person-teaser.has--align--left:not(.contained) &,
  .has--align--left:not(.contained) .person-teaser &,
  .person-teaser.has--align--right:not(.contained) & {
    .card-inner {
      .image-wrapper {
        flex: 0 1 var(--card-listing-image-size, 220px);
        img {
          aspect-ratio: initial !important;
        }
      }
    }

    .card-summary {
      align-self: center;

      .description {
        margin-bottom: $spacing-small;
      }
    }
  }

  .person-teaser & {
    .card-summary {
      .description {
        margin-bottom: $spacing-small;
      }
    }
  }

  .contained.person-teaser & {
    .image-wrapper {
      display: flex;
      height: 255px;
      justify-content: center;
      aspect-ratio: var(--image-aspect-ratio, 1.7777777778);

      img {
        max-width: 198px; // 255x198px Roughly 3:4 (enough to cover the 16:9 portrait height)
        height: 100%;
        flex: 0 1 auto;
        aspect-ratio: initial !important;
        object-fit: cover;
        object-position: top center;
      }
    }
  }
}

// One column exception for contained person-teasers
.one .contained.person-teaser {
  width: calc(var(--default-container-width) / 2);

  .column & {
    align-items: center;
  }
}

.one .column:has(.contained.person-teaser) {
  align-items: center;
}

// Three column exception for contained person-teasers
.three .contained.person-teaser,
.four .contained.person-teaser {
  .summary-room-phone {
    flex-direction: column;

    .summary-extra-info {
      margin-bottom: 0;
    }
  }
}

// contained person-teasers do not have background color, so we need to set it to --theme-color
body .block.gridBlock .block.teaser.contained.person-teaser .card-inner {
  background: var(--theme-color);
}

// contained person-teasers do not have background color, so we need to remove the padding
// to snap to the default container width
.contained.person-teaser {
  .card-summary {
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
  }

  .summary-extra-info,
  .summary-room-phone {
    justify-content: center;
  }
}

.summary-extra-info {
  display: flex;
  align-items: center;
  margin-bottom: $spacing-small;
}

.summary-room-phone {
  display: flex;
  gap: $spacing-small;
}

// Listings (no card)
.block.listing {
  .listing-item.person-listing {
    &,
    & a {
      align-items: center;
    }

    h2,
    h3 {
      margin-bottom: $spacing-small !important;
    }

    img {
      aspect-ratio: initial !important;
    }
  }
}
