.sticky-menu {
  position: fixed;
  z-index: 11;
  top: 50vh;
  right: 0;
  transform: translateY(-50%);
  transition: all 0.2s linear;

  @media (min-height: 920px) {
    top: 373px;
    transform: none;
  }

  ul {
    display: flex;
    width: 115px;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;

    li a {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: var(--sticky-menu-foreground-color, #fff);
      font-family: Inter;
      font-size: 10px;
      font-style: normal;
      font-weight: 700;
      line-height: 18px; /* 180% */
      text-transform: capitalize;
    }

    li {
      display: flex;
      height: 93px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 2px;
      background: var(--sticky-menu-color, #555);
      color: var(--sticky-menu-foreground-color, #fff);
      font-family: Inter;
      font-size: 10px;
      font-style: normal;
      font-weight: 700;
      line-height: 18px; /* 180% */
      text-transform: capitalize;
    }

    .image-wrapper {
      height: 65px;
    }

    img {
      width: 100%;
      max-width: 65px;
      height: auto;
    }
  }

  @media only screen and (max-width: $largest-mobile-screen) {
    display: none;
  }
}

body.view-addview .sticky-menu,
body.view-editview .sticky-menu {
  display: none;
}
