.block.__button {
  @include variable-block-alignment();

  & .ui.button {
    padding: 8px 20px;
    border: 1px solid $black;
    border-radius: unset;
    background: none;
    color: $black;

    @include body-text-bold();

    &:focus,
    &:hover {
      background-color: $black;
      color: $white;
    }
  }
}
