$white: #fff !default;
$black: #000 !default;

.block.highlight {
  max-width: unset !important;

  .teaser-description-title {
    @include default-container-width();
  }

  .title h2 {
    @include highlight-title();
  }
  .description p {
    @include introduction();
  }
  .button a {
    @include body-text();
  }

  .highlight-description {
    a {
      @include introduction();
    }
  }

  &[class*='has--descriptionColor--highlight-custom-color-'] {
    .highlight-description {
      a {
        color: $black !important;
      }
    }
  }
  &.has--descriptionColor--highlight-custom-color-2 {
    .highlight-description {
      a {
        color: $white !important;
      }
    }
  }
}

.block-editor-highlight {
  &[class*='has--descriptionColor--highlight-custom-color-'] {
    .highlight-description {
      a {
        color: $black !important;
      }
    }
  }
  &.has--descriptionColor--highlight-custom-color-2 {
    .highlight-description {
      a {
        color: $white !important;
      }
    }
  }
}
