.block.separator.category-separator {
  .line {
    width: 100%;
  }
  &.has--shortLine--true {
    .line {
      width: 165px;
    }
  }

  & > .block-inner-container {
    min-width: var(--narrow-container-width) !important;
  }

  @include variable-block-alignment();

  // Cancel the original spacings from the add-on
  margin: 0;
  &:not(.inner):not([role='presentation']) {
    padding: unset !important;
  }
}
