#page-document .block.separator,
#page-edit .block-editor-separator,
#page-add .block-editor-separator {
  // cancel the original padding from the add-on
  &:not(.inner):not([role='presentation']) {
    padding: 0 !important;
  }

  &.has--shortLine--true {
    .line::after {
      width: 165px;
    }
  }

  .line {
    display: grid;
    max-width: var(--block-width) !important;
    justify-content: var(--block-alignment);
    @include variable-container-width();

    &::after {
      max-width: inherit;
      width: var(--layout-container-width);
    }
  }

  @include vertical-space-separator();
}
