.block.title {
  &.next--has--different--backgroundColor {
    .block-inner-container {
      padding-bottom: $block-vertical-space;
    }
  }

  .block-inner-container {
    @include vertical-space-h1();

    h1.documentFirstHeading {
      padding: 0;
      margin: 0;
    }
  }
}
