name: Storybook Build
on:
  workflow_call:

defaults:
  run:
    working-directory: ./frontend

jobs:
  storybook-build:
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js environment
        uses: ./.github/actions/node_setup

      - name: Build Storybook
        run: make storybook-build

      - name: ls - it seems that upload-artifact does not work with hidden directories
        run: cp -r .storybook-build storybook-build

      # Upload Storybook build
      - uses: actions/upload-artifact@v4
        if: success()
        with:
          name: storybook-build
          path: frontend/storybook-build
          retention-days: 2
